Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat: add new MDX components and refactor H1 and H2 for improved structure
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/H1.astro
  apps/web/src/components/docs/root/H2.astro
  apps/web/src/components/docs/root/h2.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove H1 and Subtitle components, update MDXComponents
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/H1.astro
  apps/web/src/components/docs/root/subtitle.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add @tailwindcss/typography dependency and enhance MDX components with new heading styles
  apps/web/package.json
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/h2.tsx
  apps/web/src/components/docs/root/heading-link.tsx
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/ui/table-of-contents/theme.ts
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/styles/global.css
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: add blockquote component to MDXComponents and update UI guideline text formatting
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add PillTrigger and CopyButton components for enhanced UI functionality
  apps/web/src/components/ui/Navigation/Tabs/internals/pill-trigger.tsx
  apps/web/src/components/ui/code-block/internal/copy-button.tsx
  apps/web/src/components/ui/code-block/internal/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update export name for PillTrigger component to match file naming convention
  apps/web/src/components/ui/Navigation/Tabs/internals/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: refine UI Guideline content for clarity and structure
  apps/web/src/content/overview/what-is-ui-guideline.mdx
Due: none

feat: update MDX components and configuration for improved import handling
  .vscode/settings.json
  apps/web/src/components/docs/index.ts
  apps/web/src/components/docs/interactive/Tabs.tsx
  apps/web/src/components/docs/interactive/collapsible-code.tsx
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/Strong.astro
  apps/web/src/components/docs/root/code-block.astro
  apps/web/src/components/docs/root/index.ts
  apps/web/src/components/docs/root/inline-code.astro
  apps/web/src/components/docs/root/subtitle.tsx
  apps/web/src/content/overview/quick-start.mdx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  prettier.config.mjs
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update import paths to use @content for type definitions across components
  apps/web/src/components/sections/Accessibility.tsx
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Anatomy/tabs/BaseAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/DesignAnatomyTab.tsx
  apps/web/src/components/sections/FigmaKits.tsx
  apps/web/src/components/sections/Kpis.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/components/sections/Props.tsx
  apps/web/src/components/sections/Systems.tsx
  apps/web/src/content/index.ts
  apps/web/src/content/types.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: move and clean code
  apps/web/src/content/components/types.ts
  apps/web/src/content/index.ts
  apps/web/src/data/schemas.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/catalog-manager.ts
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/lib/sectionRegistry/index.ts
  apps/web/src/lib/sectionRegistry/section-registry.tsx
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/lib/sectionRegistry/utils.ts
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove unused MDX loading functionality and associated cache
  apps/web/src/lib/section-registry/content-loader.ts
  apps/web/src/lib/section-registry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce documentation components and layout for improved overview section
  apps/web/src/common/constants.ts
  apps/web/src/components/docs/MDXComponents.ts
  apps/web/src/components/docs/index.ts
  apps/web/src/components/docs/interactive/CollapsibleCode.tsx
  apps/web/src/components/docs/interactive/Tabs.tsx
  apps/web/src/components/docs/root/CodeBlock.astro
  apps/web/src/components/docs/root/H1.astro
  apps/web/src/components/docs/root/H2.astro
  apps/web/src/components/docs/root/InlineCode.astro
  apps/web/src/components/docs/root/Strong.astro
  apps/web/src/components/layouts/DocsLayout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/content/config.ts
  apps/web/src/content/overview/quick-start.mdx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  apps/web/src/pages/components/index.astro
  apps/web/src/pages/index.astro
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/pages/overview/index.astro
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: reorganize constants and helper functions
  apps/web/src/common/constants.ts
  apps/web/src/common/helpers.ts
  apps/web/src/common/index.ts
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/sections/Anatomy/tabs/shared/AnatomyImageContainer.tsx
  apps/web/src/components/ui/ComponentCard/ComponentCard.tsx
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/components/index.astro
  apps/web/src/pages/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update dependencies and enhance documentation components with new subtitle feature
  apps/web/package.json
  apps/web/src/components/docs/mdx-components.ts
  apps/web/src/components/docs/root/subtitle.astro
  apps/web/src/content/overview/quick-start.mdx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: enhance component detail layout with overview section and remove deprecated docs layout
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/pages/overview/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

chore: update TypeScript dependency version in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: clean code
  apps/web/src/content/config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: clean copies
  apps/web/src/content/overview/what-is-ui-guideline.mdx
Due: none

feat: include a systems model (first version)
  WHAT_IS.md
  apps/web/public/assets/systems/thumbnails/mantine.svg
  apps/web/src/common/constants.ts
  apps/web/src/common/helpers.ts
  apps/web/src/components/layouts/index.ts
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/components/ui/Navbar/Navbar.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/system-card/system-card.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/index.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/content/systems/mantine/components.yml
  apps/web/src/content/systems/types.ts
  apps/web/src/data/schemas.ts
  apps/web/src/data/systems.yml
  apps/web/src/lib/section-registry/catalog-manager.ts
  apps/web/src/pages/systems/[slug].astro
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: rename collections and update component references for consistency
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/content/components/button/accessibility.yml
  apps/web/src/content/components/button/figma-kits.yml
  apps/web/src/content/components/button/kpis.yml
  apps/web/src/content/components/button/systems.yml
  apps/web/src/content/components/calendar/accessibility.yml
  apps/web/src/content/components/calendar/figma-kits.yml
  apps/web/src/content/components/calendar/kpis.yml
  apps/web/src/content/components/calendar/systems.yml
  apps/web/src/content/components/types.ts
  apps/web/src/content/config.ts
  apps/web/src/content/systems/types.ts
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/systems/[slug].astro
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove catalog-manager and related sections, streamline section-resolvers and types
  apps/web/src/lib/section-registry/catalog-manager.ts
  apps/web/src/lib/section-registry/index.ts
  apps/web/src/lib/section-registry/section-registry.tsx
  apps/web/src/lib/section-registry/section-resolvers.tsx
  apps/web/src/lib/section-registry/types.ts
  apps/web/src/pages/components/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update image URL construction in AnatomyImageContainer for improved path handling
  apps/web/src/components/sections/Anatomy/tabs/shared/anatomy-image-container.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add new SVG thumbnails for systems and update contributor structure in metadata
  apps/web/public/assets/systems/thumbnails/contained/mantine.svg
  apps/web/public/assets/systems/thumbnails/ghost/mantine.svg
  apps/web/public/figmaComponent.svg
  apps/web/src/common/constants.ts
  apps/web/src/common/helpers.ts
  apps/web/src/content/config.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: integrate @radix-ui/react-avatar and add ContributorAvatar and SystemAvatar components for enhanced user interface
  apps/web/package.json
  apps/web/src/components/composed/contributor-avatar.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/system-avatar.tsx
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/avatar/internals/fallback.tsx
  apps/web/src/components/ui/avatar/internals/image.tsx
  apps/web/src/components/ui/avatar/internals/index.ts
  apps/web/src/components/ui/avatar/types.ts
  apps/web/src/components/ui/index.ts
  apps/web/src/pages/systems/[slug].astro
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

refactor: update SystemCard component to use new structure and improve layout; adjust Avatar sizes
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/system-card/internals/index.ts
  apps/web/src/components/ui/system-card/internals/stat.tsx
  apps/web/src/components/ui/system-card/internals/types.ts
  apps/web/src/components/ui/system-card/system-card.tsx
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: enhance SystemCard component with additional props for quantity, popularity
  apps/web/src/components/ui/system-card/system-card.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/content/systems/radix/_meta.yml
  apps/web/src/content/systems/radix/components.yml
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add new SVG thumbnails for Radix UI and Shadcn systems
  apps/web/public/assets/systems/thumbnails/contained/radix-ui.svg
  apps/web/public/assets/systems/thumbnails/contained/shadcn.svg
  apps/web/public/assets/systems/thumbnails/ghost/radix-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/shadcn.svg
  apps/web/src/content/config.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/content/systems/radix-ui/_meta.yml
  apps/web/src/content/systems/radix-ui/components.yml
  apps/web/src/content/systems/radix/_meta.yml
  apps/web/src/content/systems/radix/components.yml
  apps/web/src/content/systems/shadcn/_meta.yml
  apps/web/src/content/systems/shadcn/components.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add base-ui system metadata and components
  apps/web/public/assets/systems/thumbnails/contained/base-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/base-ui.svg
  apps/web/src/content/systems/base-ui/_meta.yml
  apps/web/src/content/systems/base-ui/components.yml
Due: none

feat: add hero-ui system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/hero-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/hero-ui.svg
  apps/web/src/content/config.ts
  apps/web/src/content/systems/hero-ui/_meta.yml
  apps/web/src/content/systems/hero-ui/components.yml
  apps/web/src/content/systems/shadcn/components.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add React Aria system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/react-aria.svg
  apps/web/public/assets/systems/thumbnails/ghost/react-aria.svg
  apps/web/src/content/systems/react-aria/_meta.yml
  apps/web/src/content/systems/react-aria/components.yml
Due: none

feat: add Ark UI system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/ark-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/ark-ui.svg
  apps/web/src/content/systems/ark-ui/_meta.yml
  apps/web/src/content/systems/ark-ui/components.yml
Due: none
