Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat: configure Vercel deployment with a new `build:vercel` Turbo task and remove rewrites
  apps/web/package.json
  turbo.json
  vercel.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

chore: remove console log from TableOfContents and ensure superjson transformer is applied in API client
  apps/web/src/components/ui/TableOfContents/TableOfContents.tsx
  apps/web/src/lib/api.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add new anatomy images for button and calendar components across mobile, tablet, and desktop
  apps/web/public/assets/components/button/anatomy/desktop/dark.png
  apps/web/public/assets/components/button/anatomy/desktop/dark@2x.png
  apps/web/public/assets/components/button/anatomy/desktop/light.png
  apps/web/public/assets/components/button/anatomy/desktop/light@2x.png
  apps/web/public/assets/components/button/anatomy/mobile/dark.png
  apps/web/public/assets/components/button/anatomy/mobile/dark@2x.png
  apps/web/public/assets/components/button/anatomy/mobile/light.png
  apps/web/public/assets/components/button/anatomy/mobile/light@2x.png
  apps/web/public/assets/components/button/anatomy/tablet/dark.png
  apps/web/public/assets/components/button/anatomy/tablet/dark@2x.png
  apps/web/public/assets/components/button/anatomy/tablet/light.png
  apps/web/public/assets/components/button/anatomy/tablet/light@2x.png
  apps/web/public/assets/components/calendar/anatomy/desktop/dark.png
  apps/web/public/assets/components/calendar/anatomy/desktop/dark@2x.png
  apps/web/public/assets/components/calendar/anatomy/desktop/light.png
  apps/web/public/assets/components/calendar/anatomy/desktop/light@2x.png
  apps/web/public/assets/components/calendar/anatomy/mobile/dark.png
  apps/web/public/assets/components/calendar/anatomy/mobile/dark@2x.png
  apps/web/public/assets/components/calendar/anatomy/mobile/light.png
  apps/web/public/assets/components/calendar/anatomy/mobile/light@2x.png
  apps/web/public/assets/components/calendar/anatomy/tablet/dark.png
  apps/web/public/assets/components/calendar/anatomy/tablet/dark@2x.png
  apps/web/public/assets/components/calendar/anatomy/tablet/light.png
  apps/web/public/assets/components/calendar/anatomy/tablet/light@2x.png
  apps/web/public/assets/components/calendar/thumbnail/dark.png
  apps/web/public/assets/components/calendar/thumbnail/dark@2x.png
  apps/web/public/assets/components/calendar/thumbnail/light.png
  apps/web/public/assets/components/calendar/thumbnail/light@2x.png
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/content/components/button/anatomy.yml
  apps/web/src/content/components/calendar/anatomy.yml
  apps/web/src/lib/constants.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: update SideNav and Table of Contents components for improved layout, accessibility, and visual consistency
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/SideNav/SideNav.tsx
  apps/web/src/components/ui/SideNav/internals/Link.tsx
  apps/web/src/components/ui/SideNav/internals/List.tsx
  apps/web/src/components/ui/SideNav/internals/Section.tsx
  apps/web/src/components/ui/Sidebar/Sidebar.tsx
  apps/web/src/components/ui/TableOfContents/TableOfContents.tsx
  apps/web/src/components/ui/TableOfContents/internals/List.tsx
  apps/web/src/components/ui/TableOfContents/theme.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: enhance Overview component layout and update section resolver to support optional title
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/content/components/calendar/overview.yml
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: refine SideNav and Typography for enhanced visual consistency and accessibility
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/components/ui/SideNav/SideNav.tsx
  apps/web/src/components/ui/SideNav/internals/Heading.tsx
  apps/web/src/components/ui/SideNav/internals/Link.tsx
  apps/web/src/components/ui/SideNav/internals/List.tsx
  apps/web/src/components/ui/Sidebar/Sidebar.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add SECTIONS to SideNav for improved navigation to components gallery
  apps/web/src/components/layouts/ComponentDetailLayout.astro
Due: none

feat: enhance Props component with expanded view mode and refactor ToggleGroup for improved usability
  apps/web/src/components/sections/Props.tsx
  apps/web/src/components/ui/ToggleGroup/ToggleGroup.tsx
  apps/web/src/components/ui/ToggleGroup/internal/Item.tsx
  apps/web/src/components/ui/ToggleGroup/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

fix: remove type assertion from dataFile in CLIENT_SECTIONS_CONFIG for consistency
  apps/web/src/lib/sectionRegistry/client-sections.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update comments in ComponentDetailLayout for clarity and consistency
  apps/web/src/components/layouts/ComponentDetailLayout.astro
Due: none

fix: update defaultValue assignment in PropsTable component for better fallback handling
  apps/web/src/components/composed/PropsTable.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: update PropsItem component styles for improved visual consistency
  apps/web/src/components/composed/PropsList/PropsItem/PropsItem.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add client sections configuration and hydration logic for improved interactivity
  apps/web/src/lib/sectionRegistry/client-sections.ts
  apps/web/src/lib/sectionRegistry/index.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce Props component and ToggleGroup UI for enhanced props display and interaction
  apps/web/package.json
  apps/web/src/components/sections/Props.tsx
  apps/web/src/components/sections/PropsTable.tsx
  apps/web/src/components/sections/index.ts
  apps/web/src/components/ui/ToggleGroup/ToggleGroup.tsx
  apps/web/src/components/ui/ToggleGroup/index.ts
  apps/web/src/components/ui/ToggleGroup/internal/Item.tsx
  apps/web/src/components/ui/ToggleGroup/internal/index.ts
  apps/web/src/components/ui/ToggleGroup/types.ts
  apps/web/src/components/ui/index.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: enhance PropsTable component with new props structure
  apps/web/src/components/composed/PropsTable.tsx
  apps/web/src/components/sections/PropsTable.tsx
  apps/web/src/content/components/button/props.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add PropsTable component and integrate it into the PropsTable section for enhanced component documentation
  apps/web/src/components/composed/PropsTable.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/components/ui/Table/Table.tsx
  apps/web/src/components/ui/Table/internal/Body.tsx
  apps/web/src/components/ui/Table/internal/Caption.tsx
  apps/web/src/components/ui/Table/internal/Cell.tsx
  apps/web/src/components/ui/Table/internal/Footer.tsx
  apps/web/src/components/ui/Table/internal/Head.tsx
  apps/web/src/components/ui/Table/internal/Header.tsx
  apps/web/src/components/ui/Table/internal/Row.tsx
  apps/web/src/components/ui/Table/internal/index.ts
  apps/web/src/components/ui/TableOfContents/theme.ts
  apps/web/src/components/ui/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

chore: update README to introduce Anatomy-First Specification v1
  README.md
Due: none

style: update active link styling in SideNav for improved visibility
  apps/web/src/components/ui/SideNav/internals/Link.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: update layout and typography for improved design consistency and readability
  apps/web/src/components/layouts/BaseLayout.astro
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/pages/components/[slug].astro
  apps/web/src/styles/global.css
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add PropsList and PropsItem components for improved props visualization and interaction
  apps/web/src/components/composed/PropsList/PropsItem/PropsItem.tsx
  apps/web/src/components/composed/PropsList/PropsList.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/sections/Props.tsx
  apps/web/src/content.config.mjs
  apps/web/src/content/components/button/props.yml
  apps/web/src/content/components/calendar/props.yml
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce category support in component configuration and enhance content loading with Zod validation
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/content.config.mjs
  apps/web/src/lib/index.ts
  apps/web/src/lib/schemas/data-schemas.ts
  apps/web/src/lib/sectionRegistry/catalog-manager.ts
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/lib/types/content.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

fix: remove 'xl' size option from button props for consistency
  apps/web/src/content/components/button/props.yml
Due: none

feat: add new button thumbnails and update asset paths for component thumbnails
  apps/web/public/assets/components/button/thumbnail/dark.png
  apps/web/public/assets/components/button/thumbnail/dark@2x.png
  apps/web/public/assets/components/button/thumbnail/light.png
  apps/web/public/assets/components/button/thumbnail/light@2x.png
  apps/web/public/thumbnails/components/button.svg
  apps/web/public/thumbnails/components/calendar.svg
  apps/web/public/thumbnails/components/modal.svg
  apps/web/src/lib/constants.ts
  apps/web/src/lib/helpers.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: integrate FigmaTree component into Anatomy section and enhance Tree component with customizable empty state
  apps/web/src/components/composed/FigmaTree/FigmaTree.tsx
  apps/web/src/components/composed/FigmaTree/index.ts
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/components/ui/Tree/Tree.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: add TODO for validation improvement in Anatomy section handling
  apps/web/src/pages/components/[slug].astro
Due: none

style: refactor SideNav components for improved layout and consistency in styling
  apps/web/src/components/ui/SideNav/internals/Heading.tsx
  apps/web/src/components/ui/SideNav/internals/Link.tsx
  apps/web/src/components/ui/SideNav/internals/Section.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: change content.config extension
  apps/web/src/content.config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: enhance CopyWithImage component with status-based labels and icons for improved user feedback
  apps/web/src/components/ui/CopyWithImage/CopyWithImage.tsx
  apps/web/src/components/ui/CopyWithImage/hooks/useCopyWithImage.ts
  apps/web/src/components/ui/CopyWithImage/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add Icon component and icon catalog with SVG icons for improved UI flexibility
  apps/web/public/assets/components/button/anatomy/design-anatomy/dark.png
  apps/web/public/assets/components/button/anatomy/design-anatomy/dark@2x.png
  apps/web/public/figmaComponent.svg
  apps/web/src/components/ui/Icon/Icon.tsx
  apps/web/src/components/ui/Icon/iconCatalog.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: replace string literals with SectionKey enum
  apps/web/src/components/composed/ClientSectionWrapper.tsx
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update Icon component to use checkCircle icon by default and clean up icon catalog
  apps/web/src/components/ui/Icon/Icon.tsx
  apps/web/src/components/ui/Icon/iconCatalog.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: update ComponentDetailLayout and SideNav components for improved styling and active state handling
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/SideNav/internals/Heading.tsx
  apps/web/src/components/ui/SideNav/internals/Item.tsx
  apps/web/src/components/ui/SideNav/internals/Link.tsx
  apps/web/src/components/ui/SideNav/internals/List.tsx
  apps/web/src/lib/constants.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: reorganize Tree component structure and types for improved clarity and maintainability
  apps/web/src/components/ui/Tree/Tree.tsx
  apps/web/src/components/ui/Tree/TreeNode.tsx
  apps/web/src/components/ui/Tree/figmaIcons.ts
  apps/web/src/components/ui/Tree/index.ts
  apps/web/src/components/ui/Tree/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove constants file and update imports to use common constants
  apps/web/src/lib/constants.ts
  apps/web/src/lib/helpers.ts
  apps/web/src/lib/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: rename component CopyWithImage to CopyButton
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/components/ui/CopyButton/CopyButton.tsx
  apps/web/src/components/ui/CopyButton/hooks/useCopy.ts
  apps/web/src/components/ui/CopyButton/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add Tabs component for enhanced content organization and navigation in Anatomy section
  apps/web/package.json
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/components/ui/Navigation/Tabs/Tabs.tsx
  apps/web/src/components/ui/Navigation/Tabs/internals/Trigger.tsx
  apps/web/src/components/ui/Navigation/Tabs/internals/index.ts
  apps/web/src/components/ui/Navigation/Tabs/types.ts
  apps/web/src/components/ui/Navigation/index.ts
  apps/web/src/components/ui/index.ts
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: add FigmaTree component for rendering Figma-specific tree nodes with dynamic icons
  apps/web/src/components/composed/FigmaTree/FigmaTreeNode.tsx
  apps/web/src/components/composed/FigmaTree/figmaTreeIcons.ts
  apps/web/src/components/composed/FigmaTree/index.ts
  apps/web/src/components/composed/index.ts
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/components/ui/Icon/Icon.tsx
  apps/web/src/components/ui/Icon/types.ts
  apps/web/src/components/ui/Tree/Tree.tsx
  apps/web/src/components/ui/Tree/TreeNode.tsx
  apps/web/src/components/ui/Tree/figmaIcons.ts
  apps/web/src/components/ui/Tree/index.ts
  apps/web/src/components/ui/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

docs: add CONTRIBUTING.md for Design Layers documentation guidelines
  CONTRIBUTING.md
Due: none

refactor: update exports to replace CopyWithImage with CopyButton component
  apps/web/src/components/ui/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: enhance SideNav components with improved item structure and styling consistency
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/SideNav/internals/Item.tsx
  apps/web/src/components/ui/SideNav/internals/Link.tsx
  apps/web/src/components/ui/SideNav/internals/List.tsx
  apps/web/src/components/ui/SideNav/internals/Section.tsx
  apps/web/src/lib/helpers.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown
