Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

chore: update TypeScript version to 5.7.3 in package.json and pnpm-lock.yaml
  apps/web/src/content.config.mjs
  pnpm-lock.yaml
Due: none

chore: downgrade TypeScript version to 5.6.2 in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: update PropsTable component to accept single PropsData object
  apps/web/src/components/sections/PropsTable.tsx
  apps/web/src/content.config.mjs
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: standardize image property naming in anatomy configuration for consistency
  apps/web/src/content.config.mjs
  apps/web/src/content/components/calendar/anatomy.yml
Due: none

feat: complete setup of Astro integration and content collections structure, including validation schemas
  .cursor/scratchpad.md
Due: none

feat: implement SideNav component with internal structure and styling, update Tailwind CSS version
  apps/web/package.json
  apps/web/src/components/ui/SideNav/SideNav.tsx
  apps/web/src/components/ui/SideNav/internals/Heading.tsx
  apps/web/src/components/ui/SideNav/internals/Item.tsx
  apps/web/src/components/ui/SideNav/internals/Link.tsx
  apps/web/src/components/ui/SideNav/internals/List.tsx
  apps/web/src/components/ui/SideNav/internals/Section.tsx
  apps/web/src/components/ui/SideNav/internals/index.ts
  apps/web/src/components/ui/Sidebar/Sidebar.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/index.css
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

chore: update Tailwind CSS version to 4.1.13 in pnpm-lock.yaml and package.json
  pnpm-lock.yaml
  tooling/tailwind-config/package.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore: update dependencies in package.json
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/pages/index.astro
  apps/web/src/styles/global.css
  package.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

chore: upgrade @trpc/server to version 11.6.0 and update tailwindcss to 4.1.13 in package.json
  packages/api/package.json
  tooling/tailwind-config/package.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore: update dependencies in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: upgrade @trpc/client and @trpc/react-query to version
  apps/web/package.json
  packages/api/package.json
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

chore: downgrade TypeScript specifier from ^5.7.2 to ^5.6.2 in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: add @rollup/plugin-yaml dependency and integrate it into Astro config
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/components/sections/Anatomy.tsx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

chore: update React and related dependencies to version 19.2.0, add @side-ui/table-of-contents to package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: update scratchpad with new task
  .cursor/scratchpad.md
Due: none

feat: implement first version of the ComponentDetail page
  .cursor/scratchpad.md
  apps/web/package.json
  apps/web/src/components/layouts/BaseLayout.astro
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/components/sections/Accessibility.tsx
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/components/sections/FigmaKits.tsx
  apps/web/src/components/sections/Kpis.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/components/sections/PropsTable.tsx
  apps/web/src/components/sections/Systems.tsx
  apps/web/src/components/ui/Navbar/Navbar.tsx
  apps/web/src/components/ui/TableOfContent/TableOfContent.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/index.css
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/pages/components/[slug].astro
  apps/web/src/styles/global.css
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: add overview and accessibility sections with corresponding data handling
  apps/web/src/components/sections/Accessibility.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/content.config.mjs
  apps/web/src/content/components/calendar/accessibility.mdx
  apps/web/src/content/components/calendar/accessibility.yml
  apps/web/src/content/components/calendar/index.mdx
  apps/web/src/content/components/calendar/overview.yml
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/lib/types/content.ts
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add initial Calendar component documentation with metadata and sections
  apps/web/src/content/components/calendar/index.mdx
Due: none

feat: enhance Calendar component documentation with detailed anatomy, props, and Figma kits
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/SideNav/SideNav.tsx
  apps/web/src/content/components/button/accessibility.yml
  apps/web/src/content/components/button/anatomy.yml
  apps/web/src/content/components/button/figma-kits.yml
  apps/web/src/content/components/button/index.mdx
  apps/web/src/content/components/button/kpis.yml
  apps/web/src/content/components/button/overview.yml
  apps/web/src/content/components/button/props.yml
  apps/web/src/content/components/button/systems.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update scratchpad file
  .cursor/scratchpad.md
Due: none

refactor: simplify BaseLayout by removing global styles and updating body class
  apps/web/src/components/layouts/BaseLayout.astro
Due: none

refactor: update Tailwind config and enhance layout components
  apps/web/src/components/layouts/BaseLayout.astro
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/Logo/Logo.tsx
  apps/web/src/components/ui/Navbar/Navbar.tsx
  apps/web/src/components/ui/Sidebar/Sidebar.tsx
  apps/web/src/styles/global.css
  apps/web/tailwind.config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update layout and UI components for improved styling and accessibility
  apps/web/src/components/layouts/BaseLayout.astro
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/Logo/Logo.tsx
  apps/web/src/components/ui/Navbar/Navbar.tsx
  apps/web/src/components/ui/SideNav/internals/Heading.tsx
  apps/web/src/components/ui/SideNav/internals/Item.tsx
  apps/web/src/components/ui/SideNav/internals/Link.tsx
  apps/web/src/components/ui/SideNav/internals/List.tsx
  apps/web/src/components/ui/Sidebar/Sidebar.tsx
  apps/web/src/styles/global.css
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update Tailwind config and adjust SideNav component styles for consistency
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/SideNav/internals/Heading.tsx
  apps/web/src/components/ui/SideNav/internals/Item.tsx
  apps/web/tailwind.config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: adjust Navbar styles for improved spacing and logo appearance
  apps/web/src/components/ui/Navbar/Navbar.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: include side-ui lib file to be mapped by TailwindCSS
  apps/web/src/pages/components.astro
  apps/web/src/styles/global.css
  apps/web/tailwind.config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: replace TableOfContent with ComponentTableOfContents
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/sections/ComponentTableOfContents.tsx
  apps/web/src/components/sections/index.ts
  apps/web/src/components/ui/TableOfContent/TableOfContent.tsx
  apps/web/src/components/ui/TableOfContents/TableOfContents.tsx
  apps/web/src/components/ui/TableOfContents/hooks.ts
  apps/web/src/components/ui/TableOfContents/index.ts
  apps/web/src/components/ui/TableOfContents/internals/Item.tsx
  apps/web/src/components/ui/TableOfContents/internals/List.tsx
  apps/web/src/components/ui/TableOfContents/internals/index.ts
  apps/web/src/components/ui/TableOfContents/theme.ts
  apps/web/src/components/ui/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add ComponentTableOfContents component and update imports
  apps/web/src/components/composed/ComponentTableOfContents.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/index.ts
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/sections/index.ts
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce ComponentDetailTOC for enhanced documentation navigation
  apps/web/src/components/composed/ComponentDetailTOC.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/layouts/ComponentDetailLayout.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add camelToKebab helper function and integrate it into TOC generation
  apps/web/src/lib/helpers.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: create theme for TableOfContents item styles and refactor Item component to use it
  apps/web/src/components/ui/TableOfContents/internals/Item.tsx
  apps/web/src/components/ui/TableOfContents/internals/List.tsx
  apps/web/src/components/ui/TableOfContents/theme.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add camelToTitleCase helper function and update TOC label generation
  apps/web/src/lib/helpers.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: simplify SideNav component structure and enhance styling with active state management
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/SideNav/internals/Item.tsx
  apps/web/src/components/ui/SideNav/internals/Link.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update component library with new components, enhance routing, and add YAML support for metadata
  apps/web/package.json
  apps/web/public/thumbnails/components/button.svg
  apps/web/public/thumbnails/components/calendar.svg
  apps/web/public/thumbnails/components/modal.svg
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/ComponentCard/ComponentCard.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/content.config.mjs
  apps/web/src/content/components/button/_meta.yml
  apps/web/src/content/components/button/index.yml
  apps/web/src/content/components/button/overview.yml
  apps/web/src/content/components/calendar/_meta.yml
  apps/web/src/content/components/calendar/index.yml
  apps/web/src/lib/constants.ts
  apps/web/src/lib/helpers.ts
  apps/web/src/lib/index.ts
  apps/web/src/pages/components.astro
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/index.astro
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

chore: remove Button and Calendar component YAML files from the documentation
  apps/web/src/content/components/button/index.yml
  apps/web/src/content/components/calendar/index.yml
Due: none

feat: add CONTENT_PATHS constant for centralized content directory management
  apps/web/src/lib/constants.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

chore: remove console log from TableOfContents and ensure superjson transformer is applied in API client
  apps/web/src/components/ui/TableOfContents/TableOfContents.tsx
  apps/web/src/lib/api.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add SECTIONS to SideNav for improved navigation to components gallery
  apps/web/src/components/layouts/ComponentDetailLayout.astro
Due: none

refactor: update comments in ComponentDetailLayout for clarity and consistency
  apps/web/src/components/layouts/ComponentDetailLayout.astro
Due: none
