Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat: first version of the scratchpad file
  .cursor/scratchpad.md
Due: none

refactor: update project structure and package naming conventions
  .cursor/rules/monorepo-architecture.mdc
  .cursor/rules/project-structure.mdc
Due: none

refactor: rename packages and update configurations to align with new naming conventions
  .cursor/rules/scratchpad-workflow.mdc
  .npmrc
  README.md
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/utils/api.ts
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  eslint.config.mjs
  package.json
  packages/api/package.json
  packages/api/src/common/types/apiResponse.ts
  packages/api/src/common/types/lemonSqueezy.ts
  packages/api/src/schemas/types.ts
  packages/api/src/services/configService.ts
  packages/api/src/services/errorService/handlers/index.ts
  packages/api/src/services/errorService/handlers/prismaError.ts
  packages/api/src/trpc.ts
  packages/common/package.json
  packages/common/tsconfig.json
  packages/db/package.json
  packages/db/tsconfig.json
  pnpm-lock.yaml
  prettier.config.mjs
  tooling/eslint-config/package.json
  tooling/eslint-config/tsconfig.json
  tooling/tailwind-config/package.json
  tooling/tailwind-config/src/tailwind-config.d.ts
  tooling/tailwind-config/tsconfig.json
  tooling/typescript-config/package.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

chore: update .gitignore files to include Astro build artifacts
  .gitignore
  apps/web/.gitignore
Due: none

feat: integrate Astro with React, update package dependencies, and restructure components
  .cursor/scratchpad.md
  apps/web/.cache/tsbuildinfo.json
  apps/web/astro.config.mjs
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/index.ts
  apps/web/src/components/layouts/BaseLayout.astro
  apps/web/src/components/sections/Accessibility.tsx
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/components/sections/Kpis.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/components/sections/Props.tsx
  apps/web/src/components/sections/Systems.tsx
  apps/web/src/components/ui/Logo/Logo.tsx
  apps/web/src/components/ui/Logo/types.ts
  apps/web/src/components/ui/Navbar/Navbar.tsx
  apps/web/src/content/components/calendar/anatomy.mdx
  apps/web/src/content/components/calendar/figma-kits.yml
  apps/web/src/content/components/calendar/index.mdx
  apps/web/src/content/components/calendar/kpis.yml
  apps/web/src/content/components/calendar/props.mdx
  apps/web/src/content/components/calendar/systems.yml
  apps/web/src/data/figma-kits.yml
  apps/web/src/data/systems.yml
  apps/web/src/lib/api.ts
  apps/web/src/lib/loaders.ts
  apps/web/src/lib/section-registry.ts
  apps/web/src/main.tsx
  apps/web/src/pages/components.astro
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/index.astro
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  pnpm-lock.yaml
  tooling/eslint-config/package.json
  tooling/eslint-config/src/types.d.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: reorganize component exports into sections and ui directories
  apps/web/src/components/index.ts
  apps/web/src/components/sections/index.ts
  apps/web/src/components/ui/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove TypeScript and Vite configurations from Astro config
  apps/web/astro.config.mjs
Due: none

refactor: update TypeScript configuration and remove Vite config file
  apps/web/tsconfig.json
  apps/web/vite.config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: simplify TypeScript paths, add new layout and section files, and update component imports
  apps/web/src/components/layouts/index.ts
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/index.astro
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

chore: update pnpm version to 10.15.1 and upgrade semver and sourcemap-codec dependencies
  package.json
  pnpm-lock.yaml
Due: manypkg fix

refactor: remove unused TypeScript configuration files and update tsconfig.json for improved paths and options
  apps/web/tsconfig.app.json
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add BaseLayout export and create index file for lib components
  apps/web/src/components/layouts/index.ts
  apps/web/src/lib/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update import statements and format code in components and index pages
  apps/web/src/pages/components.astro
  apps/web/src/pages/index.astro
Due: none

refactor: remove unused PostCSS and Tailwind configuration files
  apps/web/postcss.config.js
  apps/web/tailwind.config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update TailwindCSS configuration by removing unused files and setting main entry point to tailwind.css
  tooling/tailwind-config/package.json
  tooling/tailwind-config/src/base-presets.ts
  tooling/tailwind-config/src/tailwind-config.d.ts
  tooling/tailwind-config/src/tailwind.css
  tooling/tailwind-config/tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: add missing path mapping for styles in tsconfig.json
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update package.json dependencies and scripts for consistency
  apps/web/package.json
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

refactor: update Tailwind integration to use Vite plugin and simplify configuration
  apps/web/astro.config.mjs
Due: none

refactor: reorganize Tailwind CSS imports by removing index.css and creating main.css and vendors/tailwind.css
  apps/web/src/index.css
  apps/web/src/styles/main.css
  apps/web/src/styles/vendors/tailwind.css
Due: none

refactor: clean up layout styles by removing unnecessary background color
  apps/web/src/components/layouts/BaseLayout.astro
  apps/web/src/pages/index.astro
Due: none

refactor: remove index.html and clean up tailwind-config dependencies
  apps/web/index.html
  pnpm-lock.yaml
Due: none

refactor: remove unused [slug].astro component file
  apps/web/src/pages/components/[slug].astro
Due: none

feat: add FigmaKits and PropsTable components, enhance Kpis and Systems components with data props
  apps/web/src/components/sections/FigmaKits.tsx
  apps/web/src/components/sections/PropsTable.tsx
  apps/web/src/components/sections/Systems.tsx
  apps/web/src/components/sections/index.ts
  apps/web/src/lib/section-registry.ts
  apps/web/src/lib/section-registry.tsx
  apps/web/src/vite-env.d.ts
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add dynamic component loading with basePath in section registry
  apps/web/src/lib/section-registry.tsx
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add @rollup/plugin-yaml for YAML support, update package.json and pnpm-lock, and create new YAML files
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/content/components/calendar/figma-kits.yml
  apps/web/src/content/components/calendar/kpis.yml
  apps/web/src/data/figma-kits.yml
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

fix: update import paths for systems and figmaKits in section registry
  apps/web/src/lib/section-registry.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

chore: update package.json scripts to use pnpm with-env for environment variable management
  apps/web/package.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: implement content collection for components and update dynamic loading in [slug].astro
  apps/web/src/content.config.mjs
  apps/web/src/pages/components/[slug].astro
Due: none

refactor: remove debug log from getStaticPaths in [slug].astro
  apps/web/src/pages/components/[slug].astro
Due: none

feat: add accessibility and anatomy sections to Calendar component documentation
  apps/web/src/content/components/calendar/accessibility.mdx
  apps/web/src/content/components/calendar/anatomy.mdx
  apps/web/src/content/components/calendar/index.mdx
  apps/web/src/pages/components/[slug].astro
Due: none

feat: add props section to Calendar component documentation and unify metadata across files
  apps/web/src/content/components/calendar/accessibility.mdx
  apps/web/src/content/components/calendar/anatomy.mdx
  apps/web/src/content/components/calendar/props.mdx
Due: none

feat: implement dynamic section rendering in components and refactor section registry
  .cursor/scratchpad.md
  apps/web/src/content/components/calendar/anatomy.mdx
  apps/web/src/content/components/calendar/kpis.yml
  apps/web/src/content/components/calendar/props.mdx
  apps/web/src/lib/helpers.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/section-registry.tsx
  apps/web/src/lib/sectionRegistry/constants.ts
  apps/web/src/lib/sectionRegistry/section-registry.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/lib/sectionRegistry/utils.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: enhance PropsTable component with dynamic data rendering and add new section resolvers
  .cursor/rules/scratchpad-workflow.mdc
  apps/web/src/components/sections/PropsTable.tsx
  apps/web/src/content/components/calendar/props.mdx
  apps/web/src/content/components/calendar/props.yml
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/catalog-manager.ts
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/lib/sectionRegistry/index.ts
  apps/web/src/lib/sectionRegistry/section-registry.tsx
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: integrate Anatomy section with dynamic data from YAML and remove old anatomy documentation
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/content/components/calendar/anatomy.mdx
  apps/web/src/content/components/calendar/anatomy.yml
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update FigmaKits component to display additional item details
  apps/web/src/components/sections/FigmaKits.tsx
  apps/web/src/content/components/calendar/figma-kits.yml
  apps/web/src/data/figma-kits.yml
  apps/web/src/lib/sectionRegistry/catalog-manager.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/lib/sectionRegistry/utils.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: enhance Systems component to display additional item details
  apps/web/src/components/sections/Systems.tsx
  apps/web/src/content/components/calendar/systems.yml
  apps/web/src/data/systems.yml
  apps/web/src/lib/sectionRegistry/catalog-manager.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update scratchpad with new implementations and pending task
  .cursor/scratchpad.md
Due: none

feat: add new data collections for props, anatomy, kpis, systems, and figma kits with updated schemas
  apps/web/src/components/sections/Accessibility.tsx
  apps/web/src/components/sections/Anatomy.tsx
  apps/web/src/components/sections/FigmaKits.tsx
  apps/web/src/components/sections/Kpis.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/components/sections/PropsTable.tsx
  apps/web/src/components/sections/Systems.tsx
  apps/web/src/content.config.mjs
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/types/content.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update property names in content schema and Systems component for consistency
  apps/web/src/components/sections/Systems.tsx
  apps/web/src/content.config.mjs
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: standardize property naming conventions in systems.yml for improved consistency
  apps/web/src/content/components/calendar/systems.yml
Due: none

Path conditions:
  eslint --config ./apps/web/eslint.config.mjs --fix: any of: apps/web/**/*.{js,ts,jsx,tsx,json}
  prettier --write --ignore-unknown: (any of: apps/web/**/*.{js,ts,jsx,tsx,json}) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  eslint --fix: any of: tooling/**/*.{js,ts,jsx,tsx,json}
  manypkg fix: any of: package.json
