Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat: add PillTrigger component for tab navigation
  apps/web/src/components/ui/Navigation/Tabs/internals/PillTrigger.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add context7 configuration for automatic code generation and documentation retrieval
  .cursor/rules/context7.mdc
Due: none

feat: add @feedback-fish/react integration to Navbar and update package dependencies
  .cursor/rules/agent.mdc
  apps/web/package.json
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/Navbar/Navbar.tsx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

refactor: update export name for PillTrigger component to match file naming convention
  apps/web/src/components/ui/Navigation/Tabs/internals/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add new MDX components and refactor H1 and H2 for improved structure
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/H1.astro
  apps/web/src/components/docs/root/H2.astro
  apps/web/src/components/docs/root/h2.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove unused MDX loading functionality and associated cache
  apps/web/src/lib/section-registry/content-loader.ts
  apps/web/src/lib/section-registry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: refine UI Guideline content for clarity and structure
  apps/web/src/content/overview/what-is-ui-guideline.mdx
Due: none

feat: add blockquote component to MDXComponents and update UI guideline text formatting
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

chore: update TypeScript dependency version in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: enhance Overview component text size and improve CodeAnatomyTab state management for better user experience
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: streamline CopyButton component by integrating Button
  apps/web/src/components/composed/DesignLayers/DesignLayers.tsx
  apps/web/src/components/ui/CopyButton/CopyButton.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: rename button label in CodeAnatomyTab from "Lib documentation" to "Doc reference" for clarity
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add @tailwindcss/typography dependency and enhance MDX components with new heading styles
  apps/web/package.json
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/h2.tsx
  apps/web/src/components/docs/root/heading-link.tsx
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/ui/table-of-contents/theme.ts
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/styles/global.css
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: introduce documentation components and layout for improved overview section
  apps/web/src/common/constants.ts
  apps/web/src/components/docs/MDXComponents.ts
  apps/web/src/components/docs/index.ts
  apps/web/src/components/docs/interactive/CollapsibleCode.tsx
  apps/web/src/components/docs/interactive/Tabs.tsx
  apps/web/src/components/docs/root/CodeBlock.astro
  apps/web/src/components/docs/root/H1.astro
  apps/web/src/components/docs/root/H2.astro
  apps/web/src/components/docs/root/InlineCode.astro
  apps/web/src/components/docs/root/Strong.astro
  apps/web/src/components/layouts/DocsLayout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/content/config.ts
  apps/web/src/content/overview/quick-start.mdx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  apps/web/src/pages/components/index.astro
  apps/web/src/pages/index.astro
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/pages/overview/index.astro
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update dependencies and enhance documentation components with new subtitle feature
  apps/web/package.json
  apps/web/src/components/docs/mdx-components.ts
  apps/web/src/components/docs/root/subtitle.astro
  apps/web/src/content/overview/quick-start.mdx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

refactor: update BaseAnatomyTab and AnatomyImageContainer components
  apps/web/src/components/sections/Anatomy/tabs/BaseAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/shared/AnatomyImageContainer.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: reorganize constants and helper functions
  apps/web/src/common/constants.ts
  apps/web/src/common/helpers.ts
  apps/web/src/common/index.ts
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/sections/Anatomy/tabs/shared/AnatomyImageContainer.tsx
  apps/web/src/components/ui/ComponentCard/ComponentCard.tsx
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/components/index.astro
  apps/web/src/pages/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update CodeBlock styles for improved readability and add design layers for Calendar component
  apps/web/src/components/ui/CodeBlock/internal/Item.tsx
  apps/web/src/content/components/calendar/design-layers.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add PillTrigger and CopyButton components for enhanced UI functionality
  apps/web/src/components/ui/Navigation/Tabs/internals/pill-trigger.tsx
  apps/web/src/components/ui/code-block/internal/copy-button.tsx
  apps/web/src/components/ui/code-block/internal/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove H1 and Subtitle components, update MDXComponents
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/H1.astro
  apps/web/src/components/docs/root/subtitle.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update MDX components and configuration for improved import handling
  .vscode/settings.json
  apps/web/src/components/docs/index.ts
  apps/web/src/components/docs/interactive/Tabs.tsx
  apps/web/src/components/docs/interactive/collapsible-code.tsx
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/Strong.astro
  apps/web/src/components/docs/root/code-block.astro
  apps/web/src/components/docs/root/index.ts
  apps/web/src/components/docs/root/inline-code.astro
  apps/web/src/components/docs/root/subtitle.tsx
  apps/web/src/content/overview/quick-start.mdx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  prettier.config.mjs
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: enhance component detail layout with overview section and remove deprecated docs layout
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/pages/overview/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: clean up design layers in Button component by removing unnecessary comments for clarity
  apps/web/src/content/components/button/design-layers.yml
Due: none

feat: add designLayersRaw prop to ClientSectionWrapper, Anatomy, and DesignLayers components for enhanced data handling
  apps/web/src/components/composed/ClientSectionWrapper.tsx
  apps/web/src/components/composed/DesignLayers/DesignLayers.tsx
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Anatomy/tabs/DesignAnatomyTab.tsx
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add new documentation files for LLM implementation tips and evaluation criteria for top design systems in 2025
  SYSTEMS.md
  WHAT_IS.md
  poc.prompt.md
Due: none

refactor: update import paths to use @content for type definitions across components
  apps/web/src/components/sections/Accessibility.tsx
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Anatomy/tabs/BaseAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/DesignAnatomyTab.tsx
  apps/web/src/components/sections/FigmaKits.tsx
  apps/web/src/components/sections/Kpis.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/components/sections/Props.tsx
  apps/web/src/components/sections/Systems.tsx
  apps/web/src/content/index.ts
  apps/web/src/content/types.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: clean code
  apps/web/src/content/config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove console log from ClientSectionWrapper for cleaner code
  apps/web/src/components/composed/ClientSectionWrapper.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: change CopyButton size from base to iconBase for improved consistency
  apps/web/src/components/ui/CodeBlock/internal/CopyButton.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: move and clean code
  apps/web/src/content/components/types.ts
  apps/web/src/content/index.ts
  apps/web/src/data/schemas.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/catalog-manager.ts
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/lib/sectionRegistry/index.ts
  apps/web/src/lib/sectionRegistry/section-registry.tsx
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/lib/sectionRegistry/utils.ts
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: implement component mapping with thumbnail data and update layout for improved presentation
  apps/web/src/pages/systems/[slug].astro
Due: none

feat: extract contributors schema and redesign system details page layout with new components
  .cursor/PRODUCT_JOURNAL.md
  .cursor/rules/product-journal.mdc
Due: none

feat: introduce transformers for system components and update data transformation logic
  apps/web/src/lib/index.ts
  apps/web/src/lib/transformers/index.ts
  apps/web/src/lib/transformers/systems/component-card.ts
  apps/web/src/lib/transformers/systems/index.ts
  apps/web/src/lib/transformers/systems/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add SystemOverview component and update system details page to utilize it
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/system-overview.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/systems/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add base-ui system metadata and components
  apps/web/public/assets/systems/thumbnails/contained/base-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/base-ui.svg
  apps/web/src/content/systems/base-ui/_meta.yml
  apps/web/src/content/systems/base-ui/components.yml
Due: none

feat: enhance system components schema with documentation URLs and update component card
  apps/web/src/components/composed/system-overview.tsx
  apps/web/src/components/ui/component-card/component-card.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/systems/ariakit/components.yml
  apps/web/src/content/systems/ark-ui/components.yml
  apps/web/src/content/systems/base-ui/components.yml
  apps/web/src/content/systems/chakra-ui/components.yml
  apps/web/src/content/systems/hero-ui/components.yml
  apps/web/src/content/systems/mantine/components.yml
  apps/web/src/content/systems/material-ui/components.yml
  apps/web/src/content/systems/radix-ui/components.yml
  apps/web/src/content/systems/react-aria/components.yml
  apps/web/src/content/systems/shadcn/components.yml
  apps/web/src/content/systems/types.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/system-helpers.ts
  apps/web/src/lib/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update SystemCard component to use new structure and improve layout; adjust Avatar sizes
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/system-card/internals/index.ts
  apps/web/src/components/ui/system-card/internals/stat.tsx
  apps/web/src/components/ui/system-card/internals/types.ts
  apps/web/src/components/ui/system-card/system-card.tsx
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: enhance SystemCard component with additional props for quantity, popularity
  apps/web/src/components/ui/system-card/system-card.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/content/systems/radix/_meta.yml
  apps/web/src/content/systems/radix/components.yml
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add Ariakit system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/ariakit.svg
  apps/web/public/assets/systems/thumbnails/ghost/ariakit.svg
  apps/web/src/content/systems/ariakit/_meta.yml
  apps/web/src/content/systems/ariakit/components.yml
  apps/web/src/content/systems/ark-ui/_meta.yml
Due: none

Path conditions:
  eslint --config ./apps/web/eslint.config.mjs --fix: any of: apps/web/**/*.{js,ts,jsx,tsx,json}
  prettier --write --ignore-unknown: (any of: apps/web/**/*.{js,ts,jsx,tsx,json}) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  eslint --fix: any of: tooling/**/*.{js,ts,jsx,tsx,json}
  manypkg fix: any of: package.json
