Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat: add hero-ui system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/hero-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/hero-ui.svg
  apps/web/src/content/config.ts
  apps/web/src/content/systems/hero-ui/_meta.yml
  apps/web/src/content/systems/hero-ui/components.yml
  apps/web/src/content/systems/shadcn/components.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update image URL construction in AnatomyImageContainer for improved path handling
  apps/web/src/components/sections/Anatomy/tabs/shared/anatomy-image-container.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add new SVG thumbnails for Radix UI and Shadcn systems
  apps/web/public/assets/systems/thumbnails/contained/radix-ui.svg
  apps/web/public/assets/systems/thumbnails/contained/shadcn.svg
  apps/web/public/assets/systems/thumbnails/ghost/radix-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/shadcn.svg
  apps/web/src/content/config.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/content/systems/radix-ui/_meta.yml
  apps/web/src/content/systems/radix-ui/components.yml
  apps/web/src/content/systems/radix/_meta.yml
  apps/web/src/content/systems/radix/components.yml
  apps/web/src/content/systems/shadcn/_meta.yml
  apps/web/src/content/systems/shadcn/components.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update SystemAvatar and SystemOverview components to use new avatar sizes and slug prop
  apps/web/src/components/composed/system-avatar.tsx
  apps/web/src/components/composed/system-overview.tsx
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/avatar/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add new SVG thumbnails for systems and update contributor structure in metadata
  apps/web/public/assets/systems/thumbnails/contained/mantine.svg
  apps/web/public/assets/systems/thumbnails/ghost/mantine.svg
  apps/web/public/figmaComponent.svg
  apps/web/src/common/constants.ts
  apps/web/src/common/helpers.ts
  apps/web/src/content/config.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add Material UI system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/material-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/material-ui.svg
  apps/web/src/content/systems/material-ui/_meta.yml
  apps/web/src/content/systems/material-ui/components.yml
Due: none

feat: add Ark UI system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/ark-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/ark-ui.svg
  apps/web/src/content/systems/ark-ui/_meta.yml
  apps/web/src/content/systems/ark-ui/components.yml
Due: none

refactor: enhance layout and styling in SystemOverview and system details page
  apps/web/src/components/composed/system-overview.tsx
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add React Aria system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/react-aria.svg
  apps/web/public/assets/systems/thumbnails/ghost/react-aria.svg
  apps/web/src/content/systems/react-aria/_meta.yml
  apps/web/src/content/systems/react-aria/components.yml
Due: none

feat: include a systems model (first version)
  WHAT_IS.md
  apps/web/public/assets/systems/thumbnails/mantine.svg
  apps/web/src/common/constants.ts
  apps/web/src/common/helpers.ts
  apps/web/src/components/layouts/index.ts
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/components/ui/Navbar/Navbar.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/system-card/system-card.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/index.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/content/systems/mantine/components.yml
  apps/web/src/content/systems/types.ts
  apps/web/src/data/schemas.ts
  apps/web/src/data/systems.yml
  apps/web/src/lib/section-registry/catalog-manager.ts
  apps/web/src/pages/systems/[slug].astro
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: create Product Journal and establish guidelines for documenting development issues and solutions
  .cursor/PRODUCT_JOURNAL.md
  .cursor/rules/product-journal.mdc
Due: none

refactor: rename collections and update component references for consistency
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/content/components/button/accessibility.yml
  apps/web/src/content/components/button/figma-kits.yml
  apps/web/src/content/components/button/kpis.yml
  apps/web/src/content/components/button/systems.yml
  apps/web/src/content/components/calendar/accessibility.yml
  apps/web/src/content/components/calendar/figma-kits.yml
  apps/web/src/content/components/calendar/kpis.yml
  apps/web/src/content/components/calendar/systems.yml
  apps/web/src/content/components/types.ts
  apps/web/src/content/config.ts
  apps/web/src/content/systems/types.ts
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/systems/[slug].astro
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update component thumbnail handling and enhance ComponentCard layout
  apps/web/src/common/helpers.ts
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/ui/component-card/component-card.tsx
  apps/web/src/pages/components/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add Chakra UI system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/chakra-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/chakra-ui.svg
  apps/web/src/content/systems/chakra-ui/_meta.yml
  apps/web/src/content/systems/chakra-ui/components.yml
Due: none

refactor: remove catalog-manager and related sections, streamline section-resolvers and types
  apps/web/src/lib/section-registry/catalog-manager.ts
  apps/web/src/lib/section-registry/index.ts
  apps/web/src/lib/section-registry/section-registry.tsx
  apps/web/src/lib/section-registry/section-resolvers.tsx
  apps/web/src/lib/section-registry/types.ts
  apps/web/src/pages/components/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: integrate @radix-ui/react-avatar and add ContributorAvatar and SystemAvatar components for enhanced user interface
  apps/web/package.json
  apps/web/src/components/composed/contributor-avatar.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/system-avatar.tsx
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/avatar/internals/fallback.tsx
  apps/web/src/components/ui/avatar/internals/image.tsx
  apps/web/src/components/ui/avatar/internals/index.ts
  apps/web/src/components/ui/avatar/types.ts
  apps/web/src/components/ui/index.ts
  apps/web/src/pages/systems/[slug].astro
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: add systems reference to component sections and enhance data transformation for documentation URLs
  apps/web/src/components/composed/client-section-wrapper.tsx
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/content/components/button/code-anatomy.yml
  apps/web/src/content/config.ts
  apps/web/src/lib/transformers/components/index.ts
  apps/web/src/lib/transformers/components/systems-for-component.ts
  apps/web/src/lib/transformers/components/types.ts
  apps/web/src/lib/transformers/index.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: clean copies
  apps/web/src/content/overview/what-is-ui-guideline.mdx
Due: none

fix: update shadcn.svg thumbnail paths and stroke widths for improved design consistency
  apps/web/public/assets/systems/thumbnails/ghost/shadcn.svg
Due: none

fix: standardize slug naming for components by replacing hyphens with underscores in code-anatomy and component files
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/content/components/button/code-anatomy.yml
  apps/web/src/content/components/calendar/code-anatomy.yml
  apps/web/src/content/systems/base-ui/components.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: simplify system components schema and update layout styles for improved UI
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/content/config.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: replace navbar name
  apps/web/src/components/ui/Navbar/Navbar.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

docs: clarify component naming and property examples and update text in evaluation criteria
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
Due: none

feat: implement a dedicated `CodeBlock` component and use it for MDX `pre` elements
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/code-block.tsx
  apps/web/src/components/docs/root/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add Tag component and implement 'Coming Soon' status for components with dedicated UI and routing
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/ui/component-card/component-card.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/tag/index.ts
  apps/web/src/components/ui/tag/tag.tsx
  apps/web/src/components/ui/tag/theme.ts
  apps/web/src/content/components/calendar/_meta.yml
  apps/web/src/content/config.ts
  apps/web/src/pages/docs/components/[slug].astro
  apps/web/src/pages/docs/components/coming-soon.astro
  apps/web/src/pages/docs/components/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: conditionally load sidebar data and render sections based on the current `section` in the docs layout
  apps/web/src/components/layouts/docs-layout.astro
Due: none

feat: expand content collection patterns to include shared MDX files for components and systems
  apps/web/src/content/config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: implement new documentation structure with dedicated routes and layouts for overview, components, and systems
  apps/web/src/common/constants.ts
  apps/web/src/components/composed/component-detail-toc.tsx
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/toc.ts
  apps/web/src/pages/docs/[slug].astro
  apps/web/src/pages/docs/components/[slug].astro
  apps/web/src/pages/docs/components/index.astro
  apps/web/src/pages/docs/index.astro
  apps/web/src/pages/docs/systems/[slug].astro
  apps/web/src/pages/docs/systems/index.astro
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/pages/overview/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update Navbar to utilize currentPath for active link styling and streamline documentation layout
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/ui/Navbar/Navbar.tsx
  apps/web/src/pages/docs/[slug].astro
  apps/web/src/pages/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update SideNav heading to reflect top 10 systems in layout
  apps/web/src/components/layouts/systems-layout.astro
Due: none

feat: introduce custom MDX code block rendering via a Remark plugin and dedicated `Code` components
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/code-block.tsx
  apps/web/src/components/docs/root/code.tsx
  apps/web/src/components/docs/root/index.ts
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
  apps/web/src/lib/plugins/remark-code-block.mjs
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

refactor: adjust documentation page layouts, typography, and section headings for improved clarity and structure
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/components/sections/Props.tsx
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
  apps/web/src/pages/docs/components/[slug].astro
  apps/web/src/pages/docs/components/index.astro
  apps/web/src/pages/docs/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add static links for quick navigation to Components and Systems in the sidebar
  apps/web/src/components/layouts/docs-layout.astro
Due: none

style: adjust top margin for `pre` elements in MDX components
  apps/web/src/components/docs/mdx-components.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: revamp evaluation criteria content with new headings, `Subtitle` component, and minor layout adjustments
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add level property to generated table of contents entries
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
  apps/web/src/lib/toc.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: redesign ComponentCard for improved visual impact and implement bidirectional systems-components infrastructure
  .cursor/PRODUCT_JOURNAL.md
Due: none

feat: adjust layout spacing and add top margin on system documentation pages
  apps/web/src/pages/docs/systems/[slug].astro
Due: none

refactor: adjust text color for side-nav level 0 and coming soon items
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/ui/side-nav/internals/link.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown
