Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat: add Menu component design layers, anatomy, and assets, update its Figma and code properties
  apps/web/public/assets/components/button/anatomy/base-anatomy/dark.png
  apps/web/public/assets/components/menu/anatomy/base-anatomy/dark.png
  apps/web/public/assets/components/menu/anatomy/base-anatomy/dark@2x.png
  apps/web/public/assets/components/menu/anatomy/code-anatomy/dark.png
  apps/web/public/assets/components/menu/anatomy/code-anatomy/dark@2x.png
  apps/web/public/assets/components/menu/anatomy/design-anatomy/dark.png
  apps/web/public/assets/components/menu/anatomy/design-anatomy/dark@2x.png
  apps/web/src/content/components/menu/anatomy.yml
  apps/web/src/content/components/menu/code-props.yml
  apps/web/src/content/components/menu/figma-props.yml
Due: none

feat: add ui-guideline code anatomy for Menu component and create a prompt for injecting consolidated code anatomy
  apps/web/src/content/components/menu/code-anatomy.yml
  packages/component-data/src/prompts/4-inject-consolidated-code-anatomy-from-consolidated-data.md
  packages/component-data/src/prompts/5-extract-props-from-consolidated-data.md
  packages/component-data/src/prompts/6-extract-figma-props-from-consolidated-data.md
  packages/component-data/src/prompts/7-generate-visual-anatomy.md
  packages/component-data/src/prompts/8-create-design-layers.md
Due: none

refactor: clean menu consolidated data
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
Due: none

refactor: simplify menu design layers, introduce v1 file, and add design layers prompt
  apps/web/src/content/components/menu/design-layers.yml
Due: none

feat: implement `SourceCodeSelector` component
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/components/ui/inputs/combobox/internal/list.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add ui-guideline system thumbnails and favicon
  apps/web/public/assets/systems/thumbnails/contained/ui-guideline.svg
  apps/web/public/assets/systems/thumbnails/ghost/ui-guideline.svg
  apps/web/public/favicon.ico
Due: none

refactor: update Figma property schema
  apps/web/src/content/components/menu/figma-props.yml
  packages/component-data/src/prompts/5-extract-figma-props-from-consolidated-data.md
Due: none

feat: introduce detailed Figma taxonomy for prop extraction
  packages/component-data/src/prompts/1-extract-component-raw-data.md
  packages/component-data/src/prompts/5-extract-figma-props-from-consolidated-data.md
  packages/component-data/src/prompts/6-generate-visual-anatomy.md
Due: none

refactor: remove create design layers prompts
  packages/component-data/src/consolidated-data/prompts/create-design-layers.md
  packages/component-data/src/consolidated-data/prompts/create-design-layers.v2.md
Due: none

feat: add Menu component design layers and update its code properties and data processing prompts
  apps/web/src/content/components/menu/code-props.yml
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
  packages/component-data/src/prompts/1-extract-component-raw-data.md
  packages/component-data/src/prompts/2-consolidate-component-data.md
Due: none

refactor: grouping components
  apps/web/src/components/ui/buttons/button/button.tsx
  apps/web/src/components/ui/buttons/button/index.ts
  apps/web/src/components/ui/buttons/button/theme.ts
  apps/web/src/components/ui/buttons/button/types.ts
  apps/web/src/components/ui/buttons/copy-button/copy-button.tsx
  apps/web/src/components/ui/buttons/copy-button/hooks/use-copy.ts
  apps/web/src/components/ui/buttons/copy-button/index.ts
  apps/web/src/components/ui/buttons/copy-button/types.ts
  apps/web/src/components/ui/buttons/index.ts
  apps/web/src/components/ui/code-block/internal/copy-button.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/inputs/combobox/combobox.tsx
  apps/web/src/components/ui/inputs/combobox/internal/content.tsx
  apps/web/src/components/ui/inputs/combobox/internal/trigger.tsx
  apps/web/src/components/ui/overlays/index.ts
  apps/web/src/components/ui/overlays/popover/index.ts
  apps/web/src/components/ui/overlays/popover/internal/content.tsx
  apps/web/src/components/ui/overlays/popover/internal/index.ts
  apps/web/src/components/ui/overlays/popover/popover.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce a combobox within a new inputs module and update command component type references
  apps/web/src/components/ui/command/command.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/inputs/combobox/combobox.tsx
  apps/web/src/components/ui/inputs/combobox/index.ts
  apps/web/src/components/ui/inputs/combobox/internal/content.tsx
  apps/web/src/components/ui/inputs/combobox/internal/empty.tsx
  apps/web/src/components/ui/inputs/combobox/internal/index.ts
  apps/web/src/components/ui/inputs/combobox/internal/item.tsx
  apps/web/src/components/ui/inputs/combobox/internal/list.tsx
  apps/web/src/components/ui/inputs/combobox/internal/loading.tsx
  apps/web/src/components/ui/inputs/combobox/internal/search.tsx
  apps/web/src/components/ui/inputs/combobox/internal/trigger.tsx
  apps/web/src/components/ui/inputs/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: improve code-props by Menu
  apps/web/src/content/components/menu/code-props.yml
Due: none

docs: delete LLM prompt document and add a comprehensive Figma-to-code
  README.md
  poc.prompt.md
Due: none

feat: refactor combobox styles to use theme-based tokens, and update source code selector
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/avatar/types.ts
  apps/web/src/components/ui/inputs/combobox/internal/content.tsx
  apps/web/src/components/ui/inputs/combobox/internal/item.tsx
  apps/web/src/components/ui/inputs/combobox/internal/list.tsx
  apps/web/src/components/ui/inputs/combobox/internal/trigger.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: remove Menu and Menu.RadioGroup components, add Menu.Content.Loop
  apps/web/src/content/components/menu/figma-props.yml
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
  packages/component-data/src/prompts/5-extract-figma-props-from-consolidated-data.md
Due: none

feat: introduce Figma prop extraction prompt and add Menu component anatomy and design layer definitions
  packages/component-data/src/prompts/4-extract-props-from-consolidated-data.md
  packages/component-data/src/prompts/5-extract-figma-props.md
  packages/component-data/src/prompts/README.md
Due: none

feat: clean prompts folder
  packages/component-data/src/consolidated-data/prompts/create-design-layers.md
  packages/component-data/src/consolidated-data/prompts/create-design-layers.v2.md
  packages/component-data/src/prompts/1-extract-component-raw-data.md
  packages/component-data/src/prompts/2-consolidate-component-data.md
  packages/component-data/src/prompts/3-extract-code-anatomy-from-raw-data.md
  packages/component-data/src/prompts/4-extract-props-from-consolidated-data.md
  packages/component-data/src/prompts/README.md
Due: none

feat: rename `type` to `figmaType` in tree schemas, refactor design layer definitions, and add new code anatomy example
  apps/web/src/components/composed/figma-tree/figma-tree-icons.ts
  apps/web/src/components/composed/figma-tree/figma-tree-node.tsx
  apps/web/src/components/ui/Tree/types.ts
  apps/web/src/content/config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add Menu component design layers and update related component data and documentation
  .prettierignore
  apps/web/src/content/overview/shared/what-is-ui-guideline.mdx
  packages/component-data/src/consolidated-data/prompts/create-design-layers.v2.md
  packages/component-data/src/prompts/2-consolidate-component-data.md
Due: none

refactor: improve prompt
  apps/web/src/content/components/menu/code-props.yml
  apps/web/src/content/components/menu/design-layers.yml
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
  packages/component-data/src/prompts/5-extract-figma-props.md
Due: none

feat: improve prompts
  packages/component-data/src/prompts/4-extract-props-from-consolidated-data.md
Due: none

feat: add design layer generation prompt and initial Menu component design layers
  packages/component-data/src/prompts/7-create-design-layers.md
Due: none

feat: first version of the figma-props.yml, and remove legacy props.yml file
  apps/web/src/content/components/menu/figma-props.yml
  apps/web/src/content/components/menu/props.yml
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
Due: none

feat: introduce new Combobox, Command, and Popover UI components
  apps/web/package.json
  apps/web/src/components/ui/combobox/combobox.tsx
  apps/web/src/components/ui/combobox/internal/content.tsx
  apps/web/src/components/ui/combobox/internal/empty.tsx
  apps/web/src/components/ui/combobox/internal/index.ts
  apps/web/src/components/ui/combobox/internal/item.tsx
  apps/web/src/components/ui/combobox/internal/list.tsx
  apps/web/src/components/ui/combobox/internal/loading.tsx
  apps/web/src/components/ui/combobox/internal/search.tsx
  apps/web/src/components/ui/combobox/internal/trigger.tsx
  apps/web/src/components/ui/command/command.tsx
  apps/web/src/components/ui/command/index.ts
  apps/web/src/components/ui/popover/index.ts
  apps/web/src/components/ui/popover/internal/content.tsx
  apps/web/src/components/ui/popover/internal/index.ts
  apps/web/src/components/ui/popover/popover.tsx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

refactor: clean code
  apps/web/src/components/ui/buttons/copy-button/copy-button.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: refactor design anatomy images
  apps/web/public/assets/components/menu/anatomy/design-anatomy/dark.png
  apps/web/public/assets/components/menu/anatomy/design-anatomy/dark@2x.png
Due: none

feat: add best model and platform metadata to prompt definitions
  packages/component-data/src/prompts/4-inject-consolidated-code-anatomy-from-consolidated-data.md
  packages/component-data/src/prompts/7-generate-visual-anatomy.md
  packages/component-data/src/prompts/8-create-design-layers.md
Due: none

refactor: improve prompt
  packages/component-data/src/prompts/4-extract-props-from-consolidated-data.md
Due: none

refactor: update README with important information
  README.md
Due: none

refactor: update README
  packages/component-data/src/prompts/README.md
Due: none

feat: indicate required props with an asterisk in the table
  apps/web/src/components/composed/props-list/props-item/props-item.tsx
  apps/web/src/components/composed/props-table.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: add mouse enter/leave handlers to FloatingBox to maintain hovered state
  apps/web/src/components/composed/figma-tree/internal/floating-box.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add `useIsMounted` to `FloatingBox` and refactor `GroupIcon` import in figma tree
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/components/composed/figma-tree/figma-tree-icons.ts
  apps/web/src/components/composed/figma-tree/internal/floating-box.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add system logo avatar to the doc reference button
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update ToggleGroup to use string literals for size and type, refactor Table component styling
  apps/web/src/components/composed/props-table.tsx
  apps/web/src/components/composed/props-view-toggle.tsx
  apps/web/src/components/composed/source-code-selector.tsx
  apps/web/src/components/sections/props/props.tsx
  apps/web/src/components/sections/props/tabs/code-props-tab.tsx
  apps/web/src/components/sections/props/tabs/design-props-tab.tsx
  apps/web/src/components/ui/Table/internal/Body.tsx
  apps/web/src/components/ui/Table/internal/Caption.tsx
  apps/web/src/components/ui/Table/internal/Head.tsx
  apps/web/src/components/ui/Table/internal/Header.tsx
  apps/web/src/components/ui/Table/internal/Row.tsx
  apps/web/src/components/ui/toggle-group/index.ts
  apps/web/src/components/ui/toggle-group/internal/item.tsx
  apps/web/src/components/ui/toggle-group/toggle-group.tsx
  apps/web/src/components/ui/toggle-group/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: adjust Figma tree wrapper minimum height, update floating box transition
  apps/web/src/components/composed/figma-tree/figma-tree.tsx
  apps/web/src/components/composed/figma-tree/internal/floating-box.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: rename PropsList and PropsTable components
  apps/web/src/components/composed/code-props-list/code-props-list.tsx
  apps/web/src/components/composed/code-props-list/index.ts
  apps/web/src/components/composed/code-props-list/props-item/props-item.tsx
  apps/web/src/components/composed/code-props-table.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/props-list/index.ts
  apps/web/src/components/sections/props/tabs/code-props-tab.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: simplify `formatValue` functions and `if` statements for conciseness
  apps/web/src/components/composed/design-props-list/design-props-item/design-props-item.tsx
  apps/web/src/components/composed/design-props-table.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: correct Separator figmaType from frame to instance
  apps/web/src/content/components/menu/design-layers.yml
Due: none
