Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat: enhance system components schema with documentation URLs and update component card
  apps/web/src/components/composed/system-overview.tsx
  apps/web/src/components/ui/component-card/component-card.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/systems/ariakit/components.yml
  apps/web/src/content/systems/ark-ui/components.yml
  apps/web/src/content/systems/base-ui/components.yml
  apps/web/src/content/systems/chakra-ui/components.yml
  apps/web/src/content/systems/hero-ui/components.yml
  apps/web/src/content/systems/mantine/components.yml
  apps/web/src/content/systems/material-ui/components.yml
  apps/web/src/content/systems/radix-ui/components.yml
  apps/web/src/content/systems/react-aria/components.yml
  apps/web/src/content/systems/shadcn/components.yml
  apps/web/src/content/systems/types.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/system-helpers.ts
  apps/web/src/lib/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: implement component mapping with thumbnail data and update layout for improved presentation
  apps/web/src/pages/systems/[slug].astro
Due: none

feat: update component thumbnail handling and enhance ComponentCard layout
  apps/web/src/common/helpers.ts
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/ui/component-card/component-card.tsx
  apps/web/src/pages/components/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: redesign ComponentCard for improved visual impact and implement bidirectional systems-components infrastructure
  .cursor/PRODUCT_JOURNAL.md
Due: none

feat: introduce transformers for system components and update data transformation logic
  apps/web/src/lib/index.ts
  apps/web/src/lib/transformers/index.ts
  apps/web/src/lib/transformers/systems/component-card.ts
  apps/web/src/lib/transformers/systems/index.ts
  apps/web/src/lib/transformers/systems/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

fix: standardize slug naming for components by replacing hyphens with underscores in code-anatomy and component files
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/content/components/button/code-anatomy.yml
  apps/web/src/content/components/calendar/code-anatomy.yml
  apps/web/src/content/systems/base-ui/components.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add systems reference to component sections and enhance data transformation for documentation URLs
  apps/web/src/components/composed/client-section-wrapper.tsx
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/content/components/button/code-anatomy.yml
  apps/web/src/content/config.ts
  apps/web/src/lib/transformers/components/index.ts
  apps/web/src/lib/transformers/components/systems-for-component.ts
  apps/web/src/lib/transformers/components/types.ts
  apps/web/src/lib/transformers/index.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update SideNav heading to reflect top 10 systems in layout
  apps/web/src/components/layouts/systems-layout.astro
Due: none

feat: implement new documentation structure with dedicated routes and layouts for overview, components, and systems
  apps/web/src/common/constants.ts
  apps/web/src/components/composed/component-detail-toc.tsx
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/toc.ts
  apps/web/src/pages/docs/[slug].astro
  apps/web/src/pages/docs/components/[slug].astro
  apps/web/src/pages/docs/components/index.astro
  apps/web/src/pages/docs/index.astro
  apps/web/src/pages/docs/systems/[slug].astro
  apps/web/src/pages/docs/systems/index.astro
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/pages/overview/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove deprecated ComponentDetailLayout and SystemsLayout
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/pages/docs/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove deprecated OVERVIEW route from constants
  apps/web/src/common/constants.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: streamline sidebar navigation logic and enhance context handling for overview links
  apps/web/src/components/layouts/docs-layout.astro
Due: none

feat: add static links for quick navigation to Components and Systems in the sidebar
  apps/web/src/components/layouts/docs-layout.astro
Due: none

refactor: update Navbar to utilize currentPath for active link styling and streamline documentation layout
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/ui/Navbar/Navbar.tsx
  apps/web/src/pages/docs/[slug].astro
  apps/web/src/pages/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: split overview documentation into distinct component and system collections, updating navigation and routing
  .vscode/settings.json
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/content/config.ts
  apps/web/src/content/overview/shared/what-is-ui-guideline.mdx
  apps/web/src/pages/docs/components/overview/[...slug].astro
  apps/web/src/pages/docs/systems/overview/[...slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add level property to generated table of contents entries
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
  apps/web/src/lib/toc.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: expand content collection patterns to include shared MDX files for components and systems
  apps/web/src/content/config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: revamp evaluation criteria content with new headings, `Subtitle` component, and minor layout adjustments
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: implement a dedicated `CodeBlock` component and use it for MDX `pre` elements
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/code-block.tsx
  apps/web/src/components/docs/root/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: adjust top margin for `pre` elements in MDX components
  apps/web/src/components/docs/mdx-components.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce custom MDX code block rendering via a Remark plugin and dedicated `Code` components
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/code-block.tsx
  apps/web/src/components/docs/root/code.tsx
  apps/web/src/components/docs/root/index.ts
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
  apps/web/src/lib/plugins/remark-code-block.mjs
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

fix: set default language prop for CodeBlock to 'tsx'
  apps/web/src/components/docs/root/code-block.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add client-side hydrated CodeBlock Astro island and update MDX component mapping
  apps/web/astro.config.mjs
  apps/web/remark-code-block.mjs
  apps/web/src/components/docs/index.ts
  apps/web/src/components/docs/islands/CodeBlock.astro
  apps/web/src/components/docs/islands/index.ts
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/code-block.tsx
  apps/web/src/pages/docs/components/overview/[...slug].astro
  apps/web/src/pages/docs/systems/overview/[...slug].astro
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

docs: clarify component naming and property examples and update text in evaluation criteria
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
Due: none

refactor: adjust documentation page layouts, typography, and section headings for improved clarity and structure
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/components/sections/Props.tsx
  apps/web/src/content/overview/systems/evaluation-criteria.mdx
  apps/web/src/pages/docs/components/[slug].astro
  apps/web/src/pages/docs/components/index.astro
  apps/web/src/pages/docs/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown
