Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat: enhance DesignLayers and CodeAnatomyTab with new tab structure and improved styling
  apps/web/src/components/composed/DesignLayers/DesignLayers.tsx
  apps/web/src/components/composed/FigmaTree/FigmaTree.tsx
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/DesignAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/shared/AnatomyImageContainer.tsx
  apps/web/src/components/ui/BrandLogo/BrandLogo.tsx
  apps/web/src/components/ui/BrandLogo/brandLogoCatalog.tsx
  apps/web/src/components/ui/CodeBlock/internal/Item.tsx
  apps/web/src/components/ui/CopyButton/CopyButton.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: simplify handleTabChange function in Anatomy component and update CodeBlock styles for improved readability
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/ui/CodeBlock/internal/Item.tsx
  apps/web/src/content/components/button/code-anatomy.yml
  apps/web/src/content/config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update FigmaTree component to use IconCatalog for icon management and clean up documentation
  apps/web/src/components/composed/FigmaTree/FigmaTree.tsx
  apps/web/src/components/composed/FigmaTree/FigmaTreeNode.tsx
  apps/web/src/components/composed/FigmaTree/figmaTreeIcons.ts
  apps/web/src/components/ui/Icon/iconCatalog.ts
  apps/web/src/content/components/button/design-layers.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add DesignLayers component for displaying Figma design layers and integrate it into DesignAnatomyTab
  apps/web/src/components/composed/DesignLayers/DesignLayers.tsx
  apps/web/src/components/composed/FigmaTree/FigmaTree.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/DesignAnatomyTab.tsx
  apps/web/src/components/ui/CodeBlock/CodeBlock.tsx
  apps/web/src/components/ui/Navigation/Tabs/internals/PillTrigger.tsx
  apps/web/src/components/ui/Tree/TreeNode.tsx
  apps/web/src/content/components/button/design-layers.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: update PillTrigger components in DesignLayers for improved styling with rounded corners
  apps/web/src/components/composed/DesignLayers/DesignLayers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: improve sizes on Button component
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/ui/Button/Button.tsx
  apps/web/src/components/ui/Button/index.ts
  apps/web/src/components/ui/Button/theme.ts
  apps/web/src/components/ui/Button/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove ButtonAppearance from Button component and update variants for improved consistency
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/ui/Button/Button.tsx
  apps/web/src/components/ui/Button/theme.ts
  apps/web/src/components/ui/Button/types.ts
  apps/web/src/components/ui/CodeBlock/internal/CopyButton.tsx
  apps/web/src/styles/global.css
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update Button component styles and adjust CodeAnatomyTab button variant for consistency
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/ui/Button/Button.tsx
  apps/web/src/components/ui/Button/theme.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: rename button label in CodeAnatomyTab from "Lib documentation" to "Doc reference" for clarity
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: change CopyButton size from base to iconBase for improved consistency
  apps/web/src/components/ui/CodeBlock/internal/CopyButton.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: streamline CopyButton component by integrating Button
  apps/web/src/components/composed/DesignLayers/DesignLayers.tsx
  apps/web/src/components/ui/CopyButton/CopyButton.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add designLayersRaw prop to ClientSectionWrapper, Anatomy, and DesignLayers components for enhanced data handling
  apps/web/src/components/composed/ClientSectionWrapper.tsx
  apps/web/src/components/composed/DesignLayers/DesignLayers.tsx
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Anatomy/tabs/DesignAnatomyTab.tsx
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove console log from ClientSectionWrapper for cleaner code
  apps/web/src/components/composed/ClientSectionWrapper.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update CodeBlock styles for improved readability and add design layers for Calendar component
  apps/web/src/components/ui/CodeBlock/internal/Item.tsx
  apps/web/src/content/components/calendar/design-layers.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: clean up design layers in Button component by removing unnecessary comments for clarity
  apps/web/src/content/components/button/design-layers.yml
Due: none

refactor: enhance Overview component text size and improve CodeAnatomyTab state management for better user experience
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add @feedback-fish/react integration to Navbar and update package dependencies
  .cursor/rules/agent.mdc
  apps/web/package.json
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/ui/Navbar/Navbar.tsx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

refactor: update BaseAnatomyTab and AnatomyImageContainer components
  apps/web/src/components/sections/Anatomy/tabs/BaseAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/shared/AnatomyImageContainer.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add new documentation files for LLM implementation tips and evaluation criteria for top design systems in 2025
  SYSTEMS.md
  WHAT_IS.md
  poc.prompt.md
Due: none

feat: add context7 configuration for automatic code generation and documentation retrieval
  .cursor/rules/context7.mdc
Due: none

feat: introduce documentation components and layout for improved overview section
  apps/web/src/common/constants.ts
  apps/web/src/components/docs/MDXComponents.ts
  apps/web/src/components/docs/index.ts
  apps/web/src/components/docs/interactive/CollapsibleCode.tsx
  apps/web/src/components/docs/interactive/Tabs.tsx
  apps/web/src/components/docs/root/CodeBlock.astro
  apps/web/src/components/docs/root/H1.astro
  apps/web/src/components/docs/root/H2.astro
  apps/web/src/components/docs/root/InlineCode.astro
  apps/web/src/components/docs/root/Strong.astro
  apps/web/src/components/layouts/DocsLayout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/content/config.ts
  apps/web/src/content/overview/quick-start.mdx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  apps/web/src/pages/components/index.astro
  apps/web/src/pages/index.astro
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/pages/overview/index.astro
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: clean code
  apps/web/src/content/config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update import paths to use @content for type definitions across components
  apps/web/src/components/sections/Accessibility.tsx
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Anatomy/tabs/BaseAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/CodeAnatomyTab.tsx
  apps/web/src/components/sections/Anatomy/tabs/DesignAnatomyTab.tsx
  apps/web/src/components/sections/FigmaKits.tsx
  apps/web/src/components/sections/Kpis.tsx
  apps/web/src/components/sections/Overview.tsx
  apps/web/src/components/sections/Props.tsx
  apps/web/src/components/sections/Systems.tsx
  apps/web/src/content/index.ts
  apps/web/src/content/types.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: reorganize constants and helper functions
  apps/web/src/common/constants.ts
  apps/web/src/common/helpers.ts
  apps/web/src/common/index.ts
  apps/web/src/components/layouts/ComponentDetailLayout.astro
  apps/web/src/components/sections/Anatomy/tabs/shared/AnatomyImageContainer.tsx
  apps/web/src/components/ui/ComponentCard/ComponentCard.tsx
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/components/index.astro
  apps/web/src/pages/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: move and clean code
  apps/web/src/content/components/types.ts
  apps/web/src/content/index.ts
  apps/web/src/data/schemas.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/sectionRegistry/catalog-manager.ts
  apps/web/src/lib/sectionRegistry/content-loader.ts
  apps/web/src/lib/sectionRegistry/index.ts
  apps/web/src/lib/sectionRegistry/section-registry.tsx
  apps/web/src/lib/sectionRegistry/section-resolvers.tsx
  apps/web/src/lib/sectionRegistry/types.ts
  apps/web/src/lib/sectionRegistry/utils.ts
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: enhance component detail layout with overview section and remove deprecated docs layout
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  apps/web/src/pages/overview/[...slug].astro
  apps/web/src/pages/overview/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove unused MDX loading functionality and associated cache
  apps/web/src/lib/section-registry/content-loader.ts
  apps/web/src/lib/section-registry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update dependencies and enhance documentation components with new subtitle feature
  apps/web/package.json
  apps/web/src/components/docs/mdx-components.ts
  apps/web/src/components/docs/root/subtitle.astro
  apps/web/src/content/overview/quick-start.mdx
  apps/web/src/content/overview/what-is-ui-guideline.mdx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

chore: update TypeScript dependency version in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none
