Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat: add client-side hydrated CodeBlock Astro island and update MDX component mapping
  apps/web/astro.config.mjs
  apps/web/remark-code-block.mjs
  apps/web/src/components/docs/index.ts
  apps/web/src/components/docs/islands/CodeBlock.astro
  apps/web/src/components/docs/islands/index.ts
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/code-block.tsx
  apps/web/src/pages/docs/components/overview/[...slug].astro
  apps/web/src/pages/docs/systems/overview/[...slug].astro
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove deprecated ComponentDetailLayout and SystemsLayout
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/pages/docs/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove deprecated OVERVIEW route from constants
  apps/web/src/common/constants.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: replace navbar name
  apps/web/src/components/ui/Navbar/Navbar.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: replace navbar name
  apps/web/src/components/ui/navbar/navbar.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add Tag component and implement 'Coming Soon' status for components with dedicated UI and routing
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/ui/component-card/component-card.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/tag/index.ts
  apps/web/src/components/ui/tag/tag.tsx
  apps/web/src/components/ui/tag/theme.ts
  apps/web/src/content/components/calendar/_meta.yml
  apps/web/src/content/config.ts
  apps/web/src/pages/docs/components/[slug].astro
  apps/web/src/pages/docs/components/coming-soon.astro
  apps/web/src/pages/docs/components/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce `isDisabled` prop for `SideNav.Item`
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/ui/side-nav/internals/item.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add component status to `ComponentInfo` and display it on system detail pages
  apps/web/src/lib/transformers/systems/component-card.ts
  apps/web/src/lib/transformers/systems/types.ts
  apps/web/src/pages/docs/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: adjust layout spacing and add top margin on system documentation pages
  apps/web/src/pages/docs/systems/[slug].astro
Due: none

feat: conditionally load sidebar data and render sections based on the current `section` in the docs layout
  apps/web/src/components/layouts/docs-layout.astro
Due: none

refactor: adjust text color for side-nav level 0 and coming soon items
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/ui/side-nav/internals/link.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: adjust side-nav link text colors for levels 0 and 1, and add hover effect to level 1
  apps/web/src/components/ui/side-nav/internals/link.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: first version prompt to get component data from a source ui lib url
  apps/web/src/content/systems/ark-ui/components.yml
  raw-data/components/menu/ark-ui.yml
  raw-data/components/menu/shadcn.yml
  raw-data/prompts/extract-component-data.md
Due: none

refactor: add blank lines for improved readability in `shadcn.yml`
  raw-data/components/menu/shadcn.yml
Due: none

feat: add menu component data from HeroUI, Mantine UI, MUI, Base UI, and Chakra UI
  raw-data/components/menu/base-ui.yml
  raw-data/components/menu/chakra-ui.yml
  raw-data/components/menu/hero-ui.yml
  raw-data/components/menu/mantine-ui.yml
  raw-data/components/menu/mui.yml
  raw-data/prompts/extract-component-data.md
Due: none

feat: add Radix UI Dropdown Menu component definition
  raw-data/components/menu/radix-ui.yml
Due: none

feat: add React Aria Menu component data
  raw-data/components/menu/react-aria.yml
Due: none

feat: add `SubmenuTrigger` component and refine `MenuTrigger`, `Menu`, and `MenuItem` props and descriptions
  raw-data/components/menu/react-aria.yml
Due: none

feat: add detailed props and updated descriptions for MenuItem and MenuSection components
  raw-data/components/menu/react-aria.yml
Due: none

feat: implement ChatInput character count, max length validation, auto-focus, and keyboard shortcuts
  raw-data/prompts/extract-component-raw-data.md
Due: none

docs: clarify API reference refers to Props table in component extraction prompt
  raw-data/prompts/extract-component-raw-data.md
Due: none

feat: add new component data structure examples to the component extraction raw data prompt
  raw-data/prompts/extract-component-raw-data.md
Due: none

style: add blank line for better readability in component raw data definition
  raw-data/prompts/extract-component-raw-data.md
Due: none

feat: correct Ariakit and Ark UI system metadata and add Ariakit Menu component definition
  apps/web/src/content/systems/ariakit/_meta.yml
  apps/web/src/content/systems/ariakit/components.yml
  apps/web/src/content/systems/ark-ui/_meta.yml
  apps/web/src/content/systems/ark-ui/components.yml
  raw-data/components/menu/ariakit.yml
Due: none

feat: rename component metadata field from `tags` to `keywords` and expand Menu component keywords
  apps/web/src/content/components/menu/_meta.yml
  apps/web/src/content/config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: move raw component data into new `component-data` package
  packages/component-data/package.json
  packages/component-data/src/index.ts
  packages/component-data/src/raw-data/components/menu/ariakit.yml
  packages/component-data/src/raw-data/components/menu/ark-ui.yml
  packages/component-data/src/raw-data/components/menu/base-ui.yml
  packages/component-data/src/raw-data/components/menu/chakra-ui.yml
  packages/component-data/src/raw-data/components/menu/hero-ui.yml
  packages/component-data/src/raw-data/components/menu/mantine-ui.yml
  packages/component-data/src/raw-data/components/menu/mui.yml
  packages/component-data/src/raw-data/components/menu/radix-ui.yml
  packages/component-data/src/raw-data/components/menu/react-aria.yml
  packages/component-data/src/raw-data/components/menu/shadcn.yml
  packages/component-data/src/raw-data/prompts/extract-component-raw-data.md
  packages/component-data/tsconfig.json
  pnpm-lock.yaml
Due: manypkg fix

feat: add `code` examples to Ark UI and Shadcn menu definitions and consolidate menu component data
  packages/component-data/src/raw-data/components/menu/ark-ui.yml
  packages/component-data/src/raw-data/components/menu/shadcn.yml
Due: none

feat: add UI guideline data for the Menu component including its anatomy and props
  packages/component-data/consolidated-data/components/menu/ui-guideline.yml
Due: none

feat: add consolidated Menu component data and introduce component data consolidation guidelines
  packages/component-data/src/consolidated-data/prompts/consolidate-component-data.md
Due: none
