Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat: add Ariakit system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/ariakit.svg
  apps/web/public/assets/systems/thumbnails/ghost/ariakit.svg
  apps/web/src/content/systems/ariakit/_meta.yml
  apps/web/src/content/systems/ariakit/components.yml
  apps/web/src/content/systems/ark-ui/_meta.yml
Due: none

feat: add Chakra UI system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/chakra-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/chakra-ui.svg
  apps/web/src/content/systems/chakra-ui/_meta.yml
  apps/web/src/content/systems/chakra-ui/components.yml
Due: none

feat: add Material UI system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/material-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/material-ui.svg
  apps/web/src/content/systems/material-ui/_meta.yml
  apps/web/src/content/systems/material-ui/components.yml
Due: none

fix: update shadcn.svg thumbnail paths and stroke widths for improved design consistency
  apps/web/public/assets/systems/thumbnails/ghost/shadcn.svg
Due: none

refactor: simplify system components schema and update layout styles for improved UI
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/content/config.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add SystemOverview component and update system details page to utilize it
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/system-overview.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/systems/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: create Product Journal and establish guidelines for documenting development issues and solutions
  .cursor/PRODUCT_JOURNAL.md
  .cursor/rules/product-journal.mdc
Due: none

feat: update SystemAvatar and SystemOverview components to use new avatar sizes and slug prop
  apps/web/src/components/composed/system-avatar.tsx
  apps/web/src/components/composed/system-overview.tsx
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/avatar/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: enhance layout and styling in SystemOverview and system details page
  apps/web/src/components/composed/system-overview.tsx
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: extract contributors schema and redesign system details page layout with new components
  .cursor/PRODUCT_JOURNAL.md
  .cursor/rules/product-journal.mdc
Due: none

feat: add new SVG thumbnails for systems and update contributor structure in metadata
  apps/web/public/assets/systems/thumbnails/contained/mantine.svg
  apps/web/public/assets/systems/thumbnails/ghost/mantine.svg
  apps/web/public/figmaComponent.svg
  apps/web/src/common/constants.ts
  apps/web/src/common/helpers.ts
  apps/web/src/content/config.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add Ark UI system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/ark-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/ark-ui.svg
  apps/web/src/content/systems/ark-ui/_meta.yml
  apps/web/src/content/systems/ark-ui/components.yml
Due: none

feat: integrate @radix-ui/react-avatar and add ContributorAvatar and SystemAvatar components for enhanced user interface
  apps/web/package.json
  apps/web/src/components/composed/contributor-avatar.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/system-avatar.tsx
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/avatar/internals/fallback.tsx
  apps/web/src/components/ui/avatar/internals/image.tsx
  apps/web/src/components/ui/avatar/internals/index.ts
  apps/web/src/components/ui/avatar/types.ts
  apps/web/src/components/ui/index.ts
  apps/web/src/pages/systems/[slug].astro
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: add React Aria system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/react-aria.svg
  apps/web/public/assets/systems/thumbnails/ghost/react-aria.svg
  apps/web/src/content/systems/react-aria/_meta.yml
  apps/web/src/content/systems/react-aria/components.yml
Due: none

feat: add hero-ui system metadata, components, and SVG thumbnails
  apps/web/public/assets/systems/thumbnails/contained/hero-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/hero-ui.svg
  apps/web/src/content/config.ts
  apps/web/src/content/systems/hero-ui/_meta.yml
  apps/web/src/content/systems/hero-ui/components.yml
  apps/web/src/content/systems/shadcn/components.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: include a systems model (first version)
  WHAT_IS.md
  apps/web/public/assets/systems/thumbnails/mantine.svg
  apps/web/src/common/constants.ts
  apps/web/src/common/helpers.ts
  apps/web/src/components/layouts/index.ts
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/components/ui/Navbar/Navbar.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/system-card/system-card.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/index.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/content/systems/mantine/components.yml
  apps/web/src/content/systems/types.ts
  apps/web/src/data/schemas.ts
  apps/web/src/data/systems.yml
  apps/web/src/lib/section-registry/catalog-manager.ts
  apps/web/src/pages/systems/[slug].astro
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add new SVG thumbnails for Radix UI and Shadcn systems
  apps/web/public/assets/systems/thumbnails/contained/radix-ui.svg
  apps/web/public/assets/systems/thumbnails/contained/shadcn.svg
  apps/web/public/assets/systems/thumbnails/ghost/radix-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/shadcn.svg
  apps/web/src/content/config.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/content/systems/radix-ui/_meta.yml
  apps/web/src/content/systems/radix-ui/components.yml
  apps/web/src/content/systems/radix/_meta.yml
  apps/web/src/content/systems/radix/components.yml
  apps/web/src/content/systems/shadcn/_meta.yml
  apps/web/src/content/systems/shadcn/components.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update SystemCard component to use new structure and improve layout; adjust Avatar sizes
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/system-card/internals/index.ts
  apps/web/src/components/ui/system-card/internals/stat.tsx
  apps/web/src/components/ui/system-card/internals/types.ts
  apps/web/src/components/ui/system-card/system-card.tsx
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: enhance SystemCard component with additional props for quantity, popularity
  apps/web/src/components/ui/system-card/system-card.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/systems/mantine/_meta.yml
  apps/web/src/content/systems/radix/_meta.yml
  apps/web/src/content/systems/radix/components.yml
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove catalog-manager and related sections, streamline section-resolvers and types
  apps/web/src/lib/section-registry/catalog-manager.ts
  apps/web/src/lib/section-registry/index.ts
  apps/web/src/lib/section-registry/section-registry.tsx
  apps/web/src/lib/section-registry/section-resolvers.tsx
  apps/web/src/lib/section-registry/types.ts
  apps/web/src/pages/components/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add base-ui system metadata and components
  apps/web/public/assets/systems/thumbnails/contained/base-ui.svg
  apps/web/public/assets/systems/thumbnails/ghost/base-ui.svg
  apps/web/src/content/systems/base-ui/_meta.yml
  apps/web/src/content/systems/base-ui/components.yml
Due: none

refactor: update image URL construction in AnatomyImageContainer for improved path handling
  apps/web/src/components/sections/Anatomy/tabs/shared/anatomy-image-container.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: rename collections and update component references for consistency
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/content/components/button/accessibility.yml
  apps/web/src/content/components/button/figma-kits.yml
  apps/web/src/content/components/button/kpis.yml
  apps/web/src/content/components/button/systems.yml
  apps/web/src/content/components/calendar/accessibility.yml
  apps/web/src/content/components/calendar/figma-kits.yml
  apps/web/src/content/components/calendar/kpis.yml
  apps/web/src/content/components/calendar/systems.yml
  apps/web/src/content/components/types.ts
  apps/web/src/content/config.ts
  apps/web/src/content/systems/types.ts
  apps/web/src/pages/components/[slug].astro
  apps/web/src/pages/systems/[slug].astro
  apps/web/src/pages/systems/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: update component thumbnail handling and enhance ComponentCard layout
  apps/web/src/common/helpers.ts
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/ui/component-card/component-card.tsx
  apps/web/src/pages/components/index.astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: implement component mapping with thumbnail data and update layout for improved presentation
  apps/web/src/pages/systems/[slug].astro
Due: none

feat: enhance system components schema with documentation URLs and update component card
  apps/web/src/components/composed/system-overview.tsx
  apps/web/src/components/ui/component-card/component-card.tsx
  apps/web/src/content/config.ts
  apps/web/src/content/systems/ariakit/components.yml
  apps/web/src/content/systems/ark-ui/components.yml
  apps/web/src/content/systems/base-ui/components.yml
  apps/web/src/content/systems/chakra-ui/components.yml
  apps/web/src/content/systems/hero-ui/components.yml
  apps/web/src/content/systems/mantine/components.yml
  apps/web/src/content/systems/material-ui/components.yml
  apps/web/src/content/systems/radix-ui/components.yml
  apps/web/src/content/systems/react-aria/components.yml
  apps/web/src/content/systems/shadcn/components.yml
  apps/web/src/content/systems/types.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/system-helpers.ts
  apps/web/src/lib/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce transformers for system components and update data transformation logic
  apps/web/src/lib/index.ts
  apps/web/src/lib/transformers/index.ts
  apps/web/src/lib/transformers/systems/component-card.ts
  apps/web/src/lib/transformers/systems/index.ts
  apps/web/src/lib/transformers/systems/types.ts
  apps/web/src/pages/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add systems reference to component sections and enhance data transformation for documentation URLs
  apps/web/src/components/composed/client-section-wrapper.tsx
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/content/components/button/code-anatomy.yml
  apps/web/src/content/config.ts
  apps/web/src/lib/transformers/components/index.ts
  apps/web/src/lib/transformers/components/systems-for-component.ts
  apps/web/src/lib/transformers/components/types.ts
  apps/web/src/lib/transformers/index.ts
  apps/web/src/pages/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

fix: standardize slug naming for components by replacing hyphens with underscores in code-anatomy and component files
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/content/components/button/code-anatomy.yml
  apps/web/src/content/components/calendar/code-anatomy.yml
  apps/web/src/content/systems/base-ui/components.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: redesign ComponentCard for improved visual impact and implement bidirectional systems-components infrastructure
  .cursor/PRODUCT_JOURNAL.md
Due: none

Path conditions:
  eslint --config ./apps/web/eslint.config.mjs --fix: any of: apps/web/**/*.{js,ts,jsx,tsx,json}
  prettier --write --ignore-unknown: (any of: apps/web/**/*.{js,ts,jsx,tsx,json}) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  eslint --fix: any of: tooling/**/*.{js,ts,jsx,tsx,json}
  manypkg fix: any of: package.json
