Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat: configure Vercel deployment with a new `build:vercel` Turbo task and remove rewrites
  apps/web/package.json
  turbo.json
  vercel.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: introduce Combobox.Separator component and use it to group items in the source code selector
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
  apps/web/src/components/ui/inputs/combobox/combobox.tsx
  apps/web/src/components/ui/inputs/combobox/internal/index.ts
  apps/web/src/components/ui/inputs/combobox/internal/separator.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update component property schema and Menu example code
  apps/web/src/content/components/menu/code-anatomy.yml
Due: none

feat: add prompt for injecting component URLs into system configuration files
  packages/component-data/src/prompts/9-inject-component-url-to-systems.md
Due: none

refactor: adjust spacing in the Props section by increasing margins and gaps
  apps/web/src/components/sections/Props.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: add delayed hover exit to Figma tree nodes to prevent flickering
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/components/composed/figma-tree/figma-tree.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: simplify view mode types and add `className` prop to `PropsViewToggle` for enhanced styling
  apps/web/src/components/composed/props-view-toggle.tsx
  apps/web/src/components/sections/Props.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add component descriptions to Figma props and refine table presentation
  apps/web/src/components/composed/code-props-table.tsx
  apps/web/src/components/composed/design-props-table.tsx
  apps/web/src/components/sections/props/tabs/design-props-tab.tsx
  apps/web/src/components/ui/Table/internal/Row.tsx
  apps/web/src/content/components/menu/figma-props.yml
  apps/web/src/content/config.ts
  packages/component-data/src/prompts/6-extract-figma-props-from-consolidated-data.md
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: implement hover state and floating box for Figma tree nodes by refactoring components into an internal directory
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/components/composed/figma-tree/figma-tree-node.tsx
  apps/web/src/components/composed/figma-tree/figma-tree.tsx
  apps/web/src/components/composed/figma-tree/index.ts
  apps/web/src/components/composed/figma-tree/internal/figma-tree-node.tsx
  apps/web/src/components/composed/figma-tree/internal/floating-box.tsx
  apps/web/src/components/composed/figma-tree/internal/index.ts
  apps/web/src/components/ui/Tree/tree-node.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: display an empty state block when a component has no design props
  apps/web/src/components/sections/props/tabs/design-props-tab.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: clean code
  apps/web/src/common/constants.ts
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

style: replace description text color class with `text-muted-foreground`
  apps/web/src/components/sections/Props.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: rename `props` collection to `codeProps`, restructure prop data to be component-centric
  apps/web/src/components/composed/props-list/props-item/props-item.tsx
  apps/web/src/components/composed/props-list/props-list.tsx
  apps/web/src/components/composed/props-table.tsx
  apps/web/src/components/sections/Props.tsx
  apps/web/src/content/components/types.ts
  apps/web/src/content/config.ts
  apps/web/src/lib/section-registry/section-resolvers.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: replace hardcoded Tailwind color classes
  apps/web/src/components/composed/design-props-list/design-props-item/design-props-item.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: migrate Figma icon and node data management from `figma-tree-icons` to `figma-node-catalog`
  apps/web/src/components/composed/figma-tree/figma-node-catalog.ts
  apps/web/src/components/composed/figma-tree/index.ts
  apps/web/src/components/composed/figma-tree/internal/figma-tree-node.tsx
  apps/web/src/components/composed/figma-tree/internal/floating-box.tsx
  apps/web/src/content/components/calendar/design-layers.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add design props section with list and table views for component documentation
  apps/web/src/components/composed/client-section-wrapper.tsx
  apps/web/src/components/composed/design-layers.tsx
  apps/web/src/components/composed/design-props-list/design-props-item/design-props-item.tsx
  apps/web/src/components/composed/design-props-list/design-props-list.tsx
  apps/web/src/components/composed/design-props-list/index.ts
  apps/web/src/components/composed/design-props-table.tsx
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/props-list/index.ts
  apps/web/src/components/composed/source-code-selector.tsx
  apps/web/src/components/sections/Anatomy/Anatomy.tsx
  apps/web/src/components/sections/Anatomy/tabs/index.ts
  apps/web/src/components/sections/props/index.ts
  apps/web/src/components/sections/props/props.tsx
  apps/web/src/components/sections/props/tabs/code-props-tab.tsx
  apps/web/src/components/sections/props/tabs/design-props-tab.tsx
  apps/web/src/components/sections/props/tabs/index.ts
  apps/web/src/content/components/types.ts
  apps/web/src/content/config.ts
  apps/web/src/lib/section-registry/section-resolvers.tsx
  apps/web/src/lib/section-registry/types.ts
  apps/web/src/pages/docs/components/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce menu component definitions across UI systems and update system naming conventions
  apps/web/public/assets/systems/thumbnails/contained/mui.svg
  apps/web/public/assets/systems/thumbnails/ghost/mui.svg
  apps/web/src/common/constants.ts
  apps/web/src/content/components/menu/code-anatomy.yml
  apps/web/src/content/systems/ariakit/components.yml
  apps/web/src/content/systems/ark-ui/components.yml
  apps/web/src/content/systems/base-ui/components.yml
  apps/web/src/content/systems/chakra-ui/components.yml
  apps/web/src/content/systems/hero-ui/components.yml
  apps/web/src/content/systems/mantine/components.yml
  apps/web/src/content/systems/material-ui/components.yml
  apps/web/src/content/systems/mui/_meta.yml
  apps/web/src/content/systems/mui/components.yml
  apps/web/src/content/systems/radix-ui/components.yml
  apps/web/src/content/systems/react-aria/components.yml
  apps/web/src/content/systems/shadcn/components.yml
  packages/component-data/src/raw-data/components/menu/mantine.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: enforce SystemSlug type for system references and update code anatomy tab state management
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/lib/transformers/components/systems-for-component.ts
  apps/web/src/lib/transformers/components/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add `PropsViewToggle` component and integrate it into the `Props` section
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/props-view-toggle.tsx
  apps/web/src/components/sections/Props.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: modify Vercel buildCommand and add rewrites configuration
  vercel.json
Due: none

feat: add new UI components for Icon, Sidebar, and Table
  apps/web/src/components/ui/Icon/index.ts
  apps/web/src/components/ui/Sidebar/index.ts
  apps/web/src/components/ui/Table/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: reorganize logo component export structure
  apps/web/src/components/ui/Logo/index.ts
  apps/web/src/components/ui/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: rename to lowercase
  apps/web/src/components/ui/icon/icon-catalog.ts
  apps/web/src/components/ui/icon/icon.tsx
  apps/web/src/components/ui/icon/index.ts
  apps/web/src/components/ui/icon/types.ts
  apps/web/src/components/ui/logo/index.ts
  apps/web/src/components/ui/logo/logo.tsx
  apps/web/src/components/ui/logo/types.ts
  apps/web/src/components/ui/navigation/index.ts
  apps/web/src/components/ui/navigation/tabs/internals/index.ts
  apps/web/src/components/ui/navigation/tabs/internals/pill-trigger.tsx
  apps/web/src/components/ui/navigation/tabs/internals/trigger.tsx
  apps/web/src/components/ui/navigation/tabs/tabs.tsx
  apps/web/src/components/ui/navigation/tabs/types.ts
  apps/web/src/components/ui/sidebar/index.ts
  apps/web/src/components/ui/sidebar/sidebar.tsx
  apps/web/src/components/ui/table/index.ts
  apps/web/src/components/ui/table/internal/body.tsx
  apps/web/src/components/ui/table/internal/caption.tsx
  apps/web/src/components/ui/table/internal/cell.tsx
  apps/web/src/components/ui/table/internal/footer.tsx
  apps/web/src/components/ui/table/internal/head.tsx
  apps/web/src/components/ui/table/internal/header.tsx
  apps/web/src/components/ui/table/internal/index.ts
  apps/web/src/components/ui/table/internal/row.tsx
  apps/web/src/components/ui/table/table.tsx
  apps/web/src/components/ui/tree/index.ts
  apps/web/src/components/ui/tree/tree-node.tsx
  apps/web/src/components/ui/tree/tree.tsx
  apps/web/src/components/ui/tree/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: rename to lowercase
  apps/web/src/components/sections/accessibility/accessibility.tsx
  apps/web/src/components/sections/accessibility/index.ts
  apps/web/src/components/sections/anatomy/anatomy.tsx
  apps/web/src/components/sections/anatomy/index.ts
  apps/web/src/components/sections/anatomy/tabs/base-anatomy-tab.tsx
  apps/web/src/components/sections/anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/components/sections/anatomy/tabs/design-anatomy-tab.tsx
  apps/web/src/components/sections/anatomy/tabs/index.ts
  apps/web/src/components/sections/anatomy/tabs/shared/anatomy-image-container.tsx
  apps/web/src/components/sections/anatomy/tabs/shared/index.ts
  apps/web/src/components/sections/figma-kits/figma-kits.tsx
  apps/web/src/components/sections/figma-kits/index.ts
  apps/web/src/components/sections/kpis/index.ts
  apps/web/src/components/sections/kpis/kpis.tsx
  apps/web/src/components/sections/overview/index.ts
  apps/web/src/components/sections/overview/overview.tsx
  apps/web/src/components/sections/systems/index.ts
  apps/web/src/components/sections/systems/systems.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update comment for icon prop in IconProps interface
  apps/web/src/components/ui/icon/icon.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update button component status from 'stable' to 'soon'
  apps/web/src/content/components/button/_meta.yml
Due: none

refactor: update logo SVG and page title
  apps/web/index.html
  apps/web/public/logo.svg
Due: none

refactor: streamline component meta sections and configure Vercel redirects for documentation paths
  apps/web/src/content/components/button/_meta.yml
  apps/web/src/content/components/calendar/_meta.yml
  apps/web/src/content/components/menu/_meta.yml
  vercel.json
Due: none

feat: include "v3" in the logo component and update navbar element gap
  apps/web/src/components/ui/logo/logo.tsx
  apps/web/src/components/ui/navbar/navbar.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: update logo version text from "v3" to "v3.alpha"
  apps/web/src/components/ui/logo/logo.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add GitHub repository link and logo to the navbar
  apps/web/src/common/constants.ts
  apps/web/src/components/ui/brand-logo/brand-logo-catalog.tsx
  apps/web/src/components/ui/navbar/navbar.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

Add GitHub Sponsors username to FUNDING.yml
  .github/FUNDING.yml
Due: none

Path conditions:
  eslint --config ./apps/web/eslint.config.mjs --fix: any of: apps/web/**/*.{js,ts,jsx,tsx,json}
  prettier --write --ignore-unknown: (any of: apps/web/**/*.{js,ts,jsx,tsx,json}) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  eslint --fix: any of: tooling/**/*.{js,ts,jsx,tsx,json}
  manypkg fix: any of: package.json
