Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

refactor: remove deprecated OVERVIEW route from constants
  apps/web/src/common/constants.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: remove deprecated ComponentDetailLayout and SystemsLayout
  apps/web/src/components/layouts/component-detail-layout.astro
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/layouts/index.ts
  apps/web/src/components/layouts/systems-layout.astro
  apps/web/src/pages/docs/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: split overview documentation into distinct component and system collections, updating navigation and routing
  .vscode/settings.json
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/content/config.ts
  apps/web/src/content/overview/shared/what-is-ui-guideline.mdx
  apps/web/src/pages/docs/components/overview/[...slug].astro
  apps/web/src/pages/docs/systems/overview/[...slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

fix: set default language prop for CodeBlock to 'tsx'
  apps/web/src/components/docs/root/code-block.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce `isDisabled` prop for `SideNav.Item`
  apps/web/src/components/layouts/docs-layout.astro
  apps/web/src/components/ui/side-nav/internals/item.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add client-side hydrated CodeBlock Astro island and update MDX component mapping
  apps/web/astro.config.mjs
  apps/web/remark-code-block.mjs
  apps/web/src/components/docs/index.ts
  apps/web/src/components/docs/islands/CodeBlock.astro
  apps/web/src/components/docs/islands/index.ts
  apps/web/src/components/docs/mdx-components.tsx
  apps/web/src/components/docs/root/code-block.tsx
  apps/web/src/pages/docs/components/overview/[...slug].astro
  apps/web/src/pages/docs/systems/overview/[...slug].astro
  apps/web/tsconfig.json
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: streamline sidebar navigation logic and enhance context handling for overview links
  apps/web/src/components/layouts/docs-layout.astro
Due: none

feat: replace navbar name
  apps/web/src/components/ui/navbar/navbar.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add component status to `ComponentInfo` and display it on system detail pages
  apps/web/src/lib/transformers/systems/component-card.ts
  apps/web/src/lib/transformers/systems/types.ts
  apps/web/src/pages/docs/systems/[slug].astro
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: adjust side-nav link text colors for levels 0 and 1, and add hover effect to level 1
  apps/web/src/components/ui/side-nav/internals/link.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add documentation detailing the code anatomy
  packages/component-data/src/extract-code-anatomy/3-extract-code-anatomy.md
Due: none

feat: add new component data structure examples to the component extraction raw data prompt
  raw-data/prompts/extract-component-raw-data.md
Due: none

feat: add general purpose anatomy guidelines and apply 80/20 rule to component and prop consolidation
  packages/component-data/src/consolidated-data/prompts/consolidate-component-data.md
Due: none

feat: build props.yml for menu
  apps/web/src/content/components/menu/props.yml
Due: none

refactor: remove specialized menu item filtering and simplify menu component examples and props
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
  packages/component-data/src/consolidated-data/prompts/consolidate-component-data.md
Due: none

feat: first version prompt to get component data from a source ui lib url
  apps/web/src/content/systems/ark-ui/components.yml
  raw-data/components/menu/ark-ui.yml
  raw-data/components/menu/shadcn.yml
  raw-data/prompts/extract-component-data.md
Due: none

feat: add `code` examples to Ark UI and Shadcn menu definitions and consolidate menu component data
  packages/component-data/src/raw-data/components/menu/ark-ui.yml
  packages/component-data/src/raw-data/components/menu/shadcn.yml
Due: none

refactor: update prompt's best model to Claude Opus 4.5 and platform to Claude.ai
  packages/component-data/src/consolidated-data/prompts/2-consolidate-component-data.md
Due: none

feat: add menu overview, update menu status to stable with sections, and migrate button tags to keywords
  apps/web/src/content/components/button/_meta.yml
  apps/web/src/content/components/menu/_meta.yml
  apps/web/src/content/components/menu/overview.yml
Due: none

feat: implement ChatInput character count, max length validation, auto-focus, and keyboard shortcuts
  raw-data/prompts/extract-component-raw-data.md
Due: none

feat: rename component metadata field from `tags` to `keywords` and expand Menu component keywords
  apps/web/src/content/components/menu/_meta.yml
  apps/web/src/content/config.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add menu component data from HeroUI, Mantine UI, MUI, Base UI, and Chakra UI
  raw-data/components/menu/base-ui.yml
  raw-data/components/menu/chakra-ui.yml
  raw-data/components/menu/hero-ui.yml
  raw-data/components/menu/mantine-ui.yml
  raw-data/components/menu/mui.yml
  raw-data/prompts/extract-component-data.md
Due: none

feat: add React Aria Menu component data
  raw-data/components/menu/react-aria.yml
Due: none

refactor: update consolidate-component data prompt
  packages/component-data/src/consolidated-data/prompts/consolidate-component-data.md
Due: none

feat: add menu component code anatomy examples for multiple UI libraries
  apps/web/src/content/components/menu/code-anatomy.yml
Due: none

feat: trying several prompts
  packages/component-data/src/consolidated-data/prompts/3-create-design-layers.md
  packages/component-data/src/consolidated-data/prompts/3-create-design-layers.v2.md
Due: none

refactor: add blank lines for improved readability in `shadcn.yml`
  raw-data/components/menu/shadcn.yml
Due: none

feat: add `SubmenuTrigger` component and refine `MenuTrigger`, `Menu`, and `MenuItem` props and descriptions
  raw-data/components/menu/react-aria.yml
Due: none

feat: add consolidated Menu component data and introduce component data consolidation guidelines
  packages/component-data/src/consolidated-data/prompts/consolidate-component-data.md
Due: none

feat: add detailed props and updated descriptions for MenuItem and MenuSection components
  raw-data/components/menu/react-aria.yml
Due: none

feat: add `variant` prop to Button component and fix regex in email validation utility
  packages/component-data/src/consolidated-data/prompts/2-consolidate-component-data.md
  packages/component-data/src/raw-data/prompts/1-extract-component-raw-data.md
Due: none

refactor: move raw component data into new `component-data` package
  packages/component-data/package.json
  packages/component-data/src/index.ts
  packages/component-data/src/raw-data/components/menu/ariakit.yml
  packages/component-data/src/raw-data/components/menu/ark-ui.yml
  packages/component-data/src/raw-data/components/menu/base-ui.yml
  packages/component-data/src/raw-data/components/menu/chakra-ui.yml
  packages/component-data/src/raw-data/components/menu/hero-ui.yml
  packages/component-data/src/raw-data/components/menu/mantine-ui.yml
  packages/component-data/src/raw-data/components/menu/mui.yml
  packages/component-data/src/raw-data/components/menu/radix-ui.yml
  packages/component-data/src/raw-data/components/menu/react-aria.yml
  packages/component-data/src/raw-data/components/menu/shadcn.yml
  packages/component-data/src/raw-data/prompts/extract-component-raw-data.md
  packages/component-data/tsconfig.json
  pnpm-lock.yaml
Due: manypkg fix

feat: add Radix UI Dropdown Menu component definition
  raw-data/components/menu/radix-ui.yml
Due: none

feat: correct Ariakit and Ark UI system metadata and add Ariakit Menu component definition
  apps/web/src/content/systems/ariakit/_meta.yml
  apps/web/src/content/systems/ariakit/components.yml
  apps/web/src/content/systems/ark-ui/_meta.yml
  apps/web/src/content/systems/ark-ui/components.yml
  raw-data/components/menu/ariakit.yml
Due: none

docs: clarify API reference refers to Props table in component extraction prompt
  raw-data/prompts/extract-component-raw-data.md
Due: none

feat: add Menu component design layers and anatomy, new prompts, and update UI guideline data
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
Due: none

feat: add UI guideline data for the Menu component including its anatomy and props
  packages/component-data/consolidated-data/components/menu/ui-guideline.yml
Due: none

refactor: deefine consolidation guidelines and update Menu component
  packages/component-data/src/consolidated-data/prompts/consolidate-component-data.md
Due: none

style: add blank line for better readability in component raw data definition
  raw-data/prompts/extract-component-raw-data.md
Due: none

refactor: relocate Menu component UI guideline and update its definition with new sub-components and expanded props
  packages/component-data/consolidated-data/components/menu/ui-guideline.yml
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
Due: none

Path conditions:
  eslint --config ./apps/web/eslint.config.mjs --fix: any of: apps/web/**/*.{js,ts,jsx,tsx,json}
  prettier --write --ignore-unknown: (any of: apps/web/**/*.{js,ts,jsx,tsx,json}) or (any of: tooling/**/*.{js,ts,jsx,tsx,json})
  eslint --fix: any of: tooling/**/*.{js,ts,jsx,tsx,json}
  manypkg fix: any of: package.json
