Repository UIGuideline/ui-guideline.v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, eslint --fix, manypkg fix

.lintstagedrc:

{
  "apps/web/**/*.{js,ts,jsx,tsx,json}": [
    "eslint --config ./apps/web/eslint.config.mjs --fix",
    "prettier --write --ignore-unknown"
  ],
  "tooling/**/*.{js,ts,jsx,tsx,json}": ["prettier --write --ignore-unknown", "eslint --fix"],
  "package.json": ["manypkg fix"]
}

feat: add Menu component design layers and update its code properties and data processing prompts
  apps/web/src/content/components/menu/code-props.yml
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
  packages/component-data/src/prompts/1-extract-component-raw-data.md
  packages/component-data/src/prompts/2-consolidate-component-data.md
Due: none

refactor: improve code-props by Menu
  apps/web/src/content/components/menu/code-props.yml
Due: none

feat: add ui-guideline code anatomy for Menu component and create a prompt for injecting consolidated code anatomy
  apps/web/src/content/components/menu/code-anatomy.yml
  packages/component-data/src/prompts/4-inject-consolidated-code-anatomy-from-consolidated-data.md
  packages/component-data/src/prompts/5-extract-props-from-consolidated-data.md
  packages/component-data/src/prompts/6-extract-figma-props-from-consolidated-data.md
  packages/component-data/src/prompts/7-generate-visual-anatomy.md
  packages/component-data/src/prompts/8-create-design-layers.md
Due: none

feat: first version of the figma-props.yml, and remove legacy props.yml file
  apps/web/src/content/components/menu/figma-props.yml
  apps/web/src/content/components/menu/props.yml
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
Due: none

feat: add Menu component design layers and anatomy, new prompts, and update UI guideline data
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
Due: none

refactor: remove specialized menu item filtering and simplify menu component examples and props
  packages/component-data/src/consolidated-data/components/menu/ui-guideline.yml
  packages/component-data/src/consolidated-data/prompts/consolidate-component-data.md
Due: none

style: add blank line for better readability in component raw data definition
  raw-data/prompts/extract-component-raw-data.md
Due: none

refactor: add blank lines for improved readability in `shadcn.yml`
  raw-data/components/menu/shadcn.yml
Due: none

feat: add documentation detailing the code anatomy
  packages/component-data/src/extract-code-anatomy/3-extract-code-anatomy.md
Due: none

refactor: improve prompt
  packages/component-data/src/prompts/4-extract-props-from-consolidated-data.md
Due: none

feat: add UI guideline data for the Menu component including its anatomy and props
  packages/component-data/consolidated-data/components/menu/ui-guideline.yml
Due: none

feat: introduce new Combobox, Command, and Popover UI components
  apps/web/package.json
  apps/web/src/components/ui/combobox/combobox.tsx
  apps/web/src/components/ui/combobox/internal/content.tsx
  apps/web/src/components/ui/combobox/internal/empty.tsx
  apps/web/src/components/ui/combobox/internal/index.ts
  apps/web/src/components/ui/combobox/internal/item.tsx
  apps/web/src/components/ui/combobox/internal/list.tsx
  apps/web/src/components/ui/combobox/internal/loading.tsx
  apps/web/src/components/ui/combobox/internal/search.tsx
  apps/web/src/components/ui/combobox/internal/trigger.tsx
  apps/web/src/components/ui/command/command.tsx
  apps/web/src/components/ui/command/index.ts
  apps/web/src/components/ui/popover/index.ts
  apps/web/src/components/ui/popover/internal/content.tsx
  apps/web/src/components/ui/popover/internal/index.ts
  apps/web/src/components/ui/popover/popover.tsx
  pnpm-lock.yaml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown, manypkg fix

feat: introduce a combobox within a new inputs module and update command component type references
  apps/web/src/components/ui/command/command.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/inputs/combobox/combobox.tsx
  apps/web/src/components/ui/inputs/combobox/index.ts
  apps/web/src/components/ui/inputs/combobox/internal/content.tsx
  apps/web/src/components/ui/inputs/combobox/internal/empty.tsx
  apps/web/src/components/ui/inputs/combobox/internal/index.ts
  apps/web/src/components/ui/inputs/combobox/internal/item.tsx
  apps/web/src/components/ui/inputs/combobox/internal/list.tsx
  apps/web/src/components/ui/inputs/combobox/internal/loading.tsx
  apps/web/src/components/ui/inputs/combobox/internal/search.tsx
  apps/web/src/components/ui/inputs/combobox/internal/trigger.tsx
  apps/web/src/components/ui/inputs/index.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: grouping components
  apps/web/src/components/ui/buttons/button/button.tsx
  apps/web/src/components/ui/buttons/button/index.ts
  apps/web/src/components/ui/buttons/button/theme.ts
  apps/web/src/components/ui/buttons/button/types.ts
  apps/web/src/components/ui/buttons/copy-button/copy-button.tsx
  apps/web/src/components/ui/buttons/copy-button/hooks/use-copy.ts
  apps/web/src/components/ui/buttons/copy-button/index.ts
  apps/web/src/components/ui/buttons/copy-button/types.ts
  apps/web/src/components/ui/buttons/index.ts
  apps/web/src/components/ui/code-block/internal/copy-button.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/inputs/combobox/combobox.tsx
  apps/web/src/components/ui/inputs/combobox/internal/content.tsx
  apps/web/src/components/ui/inputs/combobox/internal/trigger.tsx
  apps/web/src/components/ui/overlays/index.ts
  apps/web/src/components/ui/overlays/popover/index.ts
  apps/web/src/components/ui/overlays/popover/internal/content.tsx
  apps/web/src/components/ui/overlays/popover/internal/index.ts
  apps/web/src/components/ui/overlays/popover/popover.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add ui-guideline system thumbnails and favicon
  apps/web/public/assets/systems/thumbnails/contained/ui-guideline.svg
  apps/web/public/assets/systems/thumbnails/ghost/ui-guideline.svg
  apps/web/public/favicon.ico
Due: none

refactor: clean code
  apps/web/src/components/ui/buttons/copy-button/copy-button.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: implement `SourceCodeSelector` component
  apps/web/src/components/composed/index.ts
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/components/ui/inputs/combobox/internal/list.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: refactor combobox styles to use theme-based tokens, and update source code selector
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
  apps/web/src/components/ui/avatar/avatar.tsx
  apps/web/src/components/ui/avatar/types.ts
  apps/web/src/components/ui/inputs/combobox/internal/content.tsx
  apps/web/src/components/ui/inputs/combobox/internal/item.tsx
  apps/web/src/components/ui/inputs/combobox/internal/list.tsx
  apps/web/src/components/ui/inputs/combobox/internal/trigger.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: clean code
  apps/web/src/common/constants.ts
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: enforce SystemSlug type for system references and update code anatomy tab state management
  apps/web/src/components/sections/Anatomy/tabs/code-anatomy-tab.tsx
  apps/web/src/lib/transformers/components/systems-for-component.ts
  apps/web/src/lib/transformers/components/types.ts
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: introduce menu component definitions across UI systems and update system naming conventions
  apps/web/public/assets/systems/thumbnails/contained/mui.svg
  apps/web/public/assets/systems/thumbnails/ghost/mui.svg
  apps/web/src/common/constants.ts
  apps/web/src/content/components/menu/code-anatomy.yml
  apps/web/src/content/systems/ariakit/components.yml
  apps/web/src/content/systems/ark-ui/components.yml
  apps/web/src/content/systems/base-ui/components.yml
  apps/web/src/content/systems/chakra-ui/components.yml
  apps/web/src/content/systems/hero-ui/components.yml
  apps/web/src/content/systems/mantine/components.yml
  apps/web/src/content/systems/material-ui/components.yml
  apps/web/src/content/systems/mui/_meta.yml
  apps/web/src/content/systems/mui/components.yml
  apps/web/src/content/systems/radix-ui/components.yml
  apps/web/src/content/systems/react-aria/components.yml
  apps/web/src/content/systems/shadcn/components.yml
  packages/component-data/src/raw-data/components/menu/mantine.yml
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add system logo avatar to the doc reference button
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add prompt for injecting component URLs into system configuration files
  packages/component-data/src/prompts/9-inject-component-url-to-systems.md
Due: none

feat: introduce Combobox.Separator component and use it to group items in the source code selector
  apps/web/src/components/composed/source-code-selector/source-code-selector.tsx
  apps/web/src/components/ui/inputs/combobox/combobox.tsx
  apps/web/src/components/ui/inputs/combobox/internal/index.ts
  apps/web/src/components/ui/inputs/combobox/internal/separator.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: implement hover state and floating box for Figma tree nodes by refactoring components into an internal directory
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/components/composed/figma-tree/figma-tree-node.tsx
  apps/web/src/components/composed/figma-tree/figma-tree.tsx
  apps/web/src/components/composed/figma-tree/index.ts
  apps/web/src/components/composed/figma-tree/internal/figma-tree-node.tsx
  apps/web/src/components/composed/figma-tree/internal/floating-box.tsx
  apps/web/src/components/composed/figma-tree/internal/index.ts
  apps/web/src/components/ui/Tree/tree-node.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

feat: add `useIsMounted` to `FloatingBox` and refactor `GroupIcon` import in figma tree
  apps/web/.cache/tsbuildinfo.json
  apps/web/src/components/composed/figma-tree/figma-tree-icons.ts
  apps/web/src/components/composed/figma-tree/internal/floating-box.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown

refactor: adjust Figma tree wrapper minimum height, update floating box transition
  apps/web/src/components/composed/figma-tree/figma-tree.tsx
  apps/web/src/components/composed/figma-tree/internal/floating-box.tsx
Due: eslint --config ./apps/web/eslint.config.mjs --fix, prettier --write --ignore-unknown
